<header class="header">
    <div class="header-items">
        <div class="breadcrumb-custom">
            <ul>
                <li><a href="#"> Sección</a></li>
                <li>/</li>
                <li><a href="#"> Vista</a></li>
            </ul>
        </div>
        <div class="notify-accout">
            <div class="notify">
                <img src="{{ templateImage.notificacion }}" alt=""> <span>Notificaciones</span>
            </div>
            <div (click)="logout()" class="close-custom">
                <img src="{{ templateImage.logout }}" alt=""> 
                <span>Cerrar sesión</span>
            </div>
            <div class="account">
                <div class="div-imagen">
                    <div class="iniciales-azul-notificacion"> {{iniciales}} </div>
                    <!-- <img src="/assets/img/iniciales_dm_azul.svg" alt=""> -->
                </div>
                <span class="centrado">{{email}}</span>
            </div>
        </div>
    </div>
</header>