<div class="container-fluid">
<header class="header">
    <div class="header-items">
        <div class="breadcrumb-custom">
            <ul>
                <li>Sección</li>
                <li *ngIf="rutaBreadCrumbs1 !== '' && breadcrumbs1 !== ''">/</li>
                <li [routerLink]="[ rutaBreadCrumbs1 ]">{{ breadcrumbs1 }}</li>
                <li *ngIf="rutaBreadCrumbs2 !== '' && breadcrumbs2 !== ''">/</li>
                <li [routerLink]="[ rutaBreadCrumbs2 ]">{{ breadcrumbs2 }}</li>
                <li *ngIf="rutaBreadCrumbs3 !== '' && breadcrumbs3 !== ''">/</li>
                <li [routerLink]="[ rutaBreadCrumbs3 ]">{{ breadcrumbs3 }}</li>
            </ul>
        </div>
        <div class="notify-accout">
        </div>
        <ul class="lista-horizontal">
            <li style="cursor: pointer;" (click)="logout()"(click)="logout()">
                <img [src]="templateImage.logout" alt="">
                Cerrar Sesión
            </li>
            <li class=""><span class="mr-3 iniciales-header">{{iniciales}}</span>{{email}}</li>
        </ul>
    </div>
</header>
</div>