/* .menu-content{
    background-color: #F4F8FB;
    display: flex;
    height: 100vh;
} */

.users .filtros{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.users .box-buscador{
    position: relative;
}
.users .lupa{
    position: absolute;
    top: 8px;
    right: 10px;
}
.users .box-buscador .buscador{
    background: transparent;
    border: 1px solid #FF596A;
    border-radius: 15px;
    padding: 5px 10px;
}

.users .box-editar{
    align-items: center;
    border: 1px solid #FF596A;
    color: #FF596A;
    font-weight: 600;
    padding: 0px 40px;
    position: relative;
    border-radius: 15px;
    margin: 0px 15px;
}

.users .icono-editar{
    position: absolute;
    left: 10px;
}

.users .icono-puntos{
    position: absolute;
    right: 10px;
}

.users .box-buscador,
.users .box-editar,
.users .box-create-new{
    display: flex;
    position: relative;
}

.users .box-create-new{
    margin-right: 32px;
}

.users .btn-nuevo-cliente{
    background: #FF596A;
    color: white;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.84px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px 40px;
    padding-right: 20px;
}

.users .box-mas{
    position: absolute;
    background-image: linear-gradient(180deg, #FF596A 0%, #F51A3C 100%);
    border-radius: 50%;
    left: 0%;
    height: 33px;
    width: 33px;
}

.users .mas{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.users .table-data{
    background: white;
}

.users .table-data table{
    margin-top: 1.5em;
}

.users .tabla-fila-datos .imagen-nombre .imagen,
.users .tabla-fila-datos .imagen-nombre .nombre{
    display: inline-block;
    vertical-align: middle;
}

.users .tabla-fila-datos .imagen-nombre .imagen,
.users .tabla-fila-datos .imagen-nombre .nombre{
    margin-left: 15px;
}

.users .tabla-fila-cabecera{
    font-size: 14px;
    color: #1E2933;
    text-align: left;
    border-bottom: 1px solid #D8D8D8 !important;
}

.users .tabla-fila-cabecera th{
    padding: 20px 10px;
}

.users .tabla-fila-datos{
    transition: background-color .6s ease;
}

.users .tabla-fila-datos td{
    padding: 15px 10px;
}

.users .tabla-fila-datos:hover{
    background-color: #ff596a2c;
}