<!-- <div class="content-header">
    <app-header></app-header>
</div>

<div class="menu-content users">
    <app-menu></app-menu>
    <div class="area-admin">
        <div class="filtros">
            <div class="box-buscador">
                <img class="lupa" src="/assets/img/search.svg" alt="">
                <input class="buscador" type="text">
            </div>
            <div class="box-editar">
                <div class="icono-editar">
                    <img src="/assets/img/editar.svg" alt="">
                </div>
                <p class="texto-editar">Editar</p>
                <div class="icono-puntos">
                    <img src="/assets/img/edit_points.svg" alt="">
                </div>
            </div>
            <div class="box-create-new">
                <div class="box-mas">
                    <img class="mas" src="/assets/img/mas.svg" alt="">
                </div>
                <a class="btn-nuevo-cliente" href="#">Nuevo administrador</a>
            </div>
        </div>

        <section class="table-data">

            <table style="width:100%">

                <tr class="tabla-fila-cabecera">
                  <th>Nombre <img src="/assets/img/arrows_orden.svg" alt=""></th>
                  <th>Cel <img src="/assets/img/arrows_orden.svg" alt=""></th>
                  <th>Correo <img src="/assets/img/arrows_orden.svg" alt=""></th>
                </tr>

                <tr class="tabla-fila-datos">
                    <td class="imagen-nombre">
                        <input class="check-nombre" type="checkbox" name="" id="">
                        <img class="imagen" src="/assets/img/iniciales_dm_rojo.svg" alt="">
                        <p class="nombre">Díaz Christian Camilo</p>
                    </td>
                    <td class="telefono">3016382553</td>
                    <td class="correo">info@neuromedia.com.co</td>
                </tr>

                <tr class="tabla-fila-datos">
                    <td class="imagen-nombre">
                        <input class="check-nombre" type="checkbox" name="" id="">
                        <img class="imagen" src="/assets/img/iniciales_dm_azul.svg" alt="">
                        <p class="nombre">Díaz Christian Camilo</p>
                    </td>
                    <td class="telefono">3016382553</td>
                    <td class="correo">info@neuromedia.com.co</td>
                </tr>

                <tr class="tabla-fila-datos">
                    <td class="imagen-nombre">
                        <input class="check-nombre" type="checkbox" name="" id="">
                        <img class="imagen" src="/assets/img/iniciales_ba.svg" alt="">
                        <p class="nombre">Díaz Christian Camilo</p>
                    </td>
                    <td class="telefono">3016382553</td>
                    <td class="correo">info@neuromedia.com.co</td>
                </tr>

                <tr class="tabla-fila-datos">
                    <td class="imagen-nombre">
                        <input class="check-nombre" type="checkbox" name="" id="">
                        <img class="imagen" src="/assets/img/iniciales_dm_rojo.svg" alt="">
                        <p class="nombre">Díaz Christian Camilo</p>
                    </td>
                    <td class="telefono">3016382553</td>
                    <td class="correo">info@neuromedia.com.co</td>
                </tr>

                <tr class="tabla-fila-datos">
                    <td class="imagen-nombre">
                        <input class="check-nombre" type="checkbox" name="" id="">
                        <img class="imagen" src="/assets/img/iniciales_dm_azul.svg" alt="">
                        <p class="nombre">Díaz Christian Camilo</p>
                    </td>
                    <td class="telefono">3016382553</td>
                    <td class="correo">info@neuromedia.com.co</td>
                </tr>

                <tr class="tabla-fila-datos">
                    <td class="imagen-nombre">
                        <input class="check-nombre" type="checkbox" name="" id="">
                        <img class="imagen" src="/assets/img/iniciales_ba.svg" alt="">
                        <p class="nombre">Díaz Christian Camilo</p>
                    </td>
                    <td class="telefono">3016382553</td>
                    <td class="correo">info@neuromedia.com.co</td>
                </tr>

                <tr class="tabla-fila-datos">
                    <td class="imagen-nombre">
                        <input class="check-nombre" type="checkbox" name="" id="">
                        <img class="imagen" src="/assets/img/iniciales_dm_rojo.svg" alt="">
                        <p class="nombre">Díaz Christian Camilo</p>
                    </td>
                    <td class="telefono">3016382553</td>
                    <td class="correo">info@neuromedia.com.co</td>
                </tr>


              </table>
        </section>

    </div>

</div>
 -->

<!-- <app-header></app-header> -->

<div class="">
    <router-outlet></router-outlet>
</div>

<!-- <div class="workplace">
    <div class="slide-menu">
        <app-menu></app-menu>
    </div>
    <div class="area">
        <router-outlet></router-outlet>
    </div>
</div> -->

<!-- 
<div class="content-header">
    <app-header></app-header>
</div> -->

