<app-header></app-header>

<div class="workplace">
    <div class="slide-menu">
        <app-menu></app-menu>
    </div>
    <div class="area">
        <!-- <router-outlet></router-outlet> -->
        <div class="row">

            <div class="col-md-3 catalogo-column">
                <div class="box-catalogo">
                    <div (click)="closeCatOptions()" class="overblock"></div>
                    <div class="box-imagen-estado-descuento">
                        <img (click)="verDetalle()" src="/N-1009/assets/img/img-cat.jpg" alt="">
                        <div class="estado">Privado</div>
                        <div class="descuento">-5%</div>
                    </div>
                    <div class="box-titulo-cantidad-opciones">
                        <div class="info">
                            <h3>Primavera 2020</h3>
                            <p>40 Productos</p>
                        </div>
                        <div (click)="showCatOptions()" class="opciones">
                            <img src="/N-1009/assets/img/edit_points.svg" alt="">
                        </div>

                        <!-- pop up opciones -->
                        <ul>
                            <li><a href=""><img class="icon-edit" src="/N-1009/assets/img/editar.svg" alt="">Editar</a></li>
                            <li><a href=""><img src="" > Exportar</a></li>
                            <li><a href=""><img src="" > Eliminar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 catalogo-column">
                <div class="box-catalogo">
                    <div (click)="closeCatOptions()" class="overblock"></div>
                    <div class="box-imagen-estado-descuento">
                        <img (click)="verDetalle()" src="/N-1009/assets/img/img-cat.jpg" alt="">
                        <div class="estado">Privado</div>
                        <div class="descuento">-5%</div>
                    </div>
                    <div class="box-titulo-cantidad-opciones">
                        <div class="info">
                            <h3>Primavera 2020</h3>
                            <p>40 Productos</p>
                        </div>
                        <div (click)="showCatOptions()" class="opciones">
                            <img src="/N-1009/assets/img/edit_points.svg" alt="">
                        </div>

                        <!-- pop up opciones -->
                        <ul>
                            <li><a href=""><img class="icon-edit" src="/N-1009/assets/img/editar.svg" alt="">Editar</a></li>
                            <li><a href=""><img src="" > Exportar</a></li>
                            <li><a href=""><img src="" > Eliminar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 catalogo-column">
                <div class="box-catalogo">
                    <div (click)="closeCatOptions()" class="overblock"></div>
                    <div class="box-imagen-estado-descuento">
                        <img (click)="verDetalle()" src="/N-1009/assets/img/img-cat.jpg" alt="">
                        <div class="estado">Privado</div>
                        <div class="descuento">-5%</div>
                    </div>
                    <div class="box-titulo-cantidad-opciones">
                        <div class="info">
                            <h3>Primavera 2020</h3>
                            <p>40 Productos</p>
                        </div>
                        <div (click)="showCatOptions()" class="opciones">
                            <img src="/N-1009/assets/img/edit_points.svg" alt="">
                        </div>

                        <!-- pop up opciones -->
                        <ul>
                            <li><a href=""><img class="icon-edit" src="/N-1009/assets/img/editar.svg" alt="">Editar</a></li>
                            <li><a href=""><img src="" > Exportar</a></li>
                            <li><a href=""><img src="" > Eliminar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 catalogo-column">
                <div class="box-catalogo">
                    <div (click)="closeCatOptions()" class="overblock"></div>
                    <div class="box-imagen-estado-descuento">
                        <img (click)="verDetalle()" src="/N-1009/assets/img/img-cat.jpg" alt="">
                        <div class="estado">Privado</div>
                        <div class="descuento">-5%</div>
                    </div>
                    <div class="box-titulo-cantidad-opciones">
                        <div class="info">
                            <h3>Primavera 2020</h3>
                            <p>40 Productos</p>
                        </div>
                        <div (click)="showCatOptions()" class="opciones">
                            <img src="/N-1009/assets/img/edit_points.svg" alt="">
                        </div>

                        <!-- pop up opciones -->
                        <ul>
                            <li><a href=""><img class="icon-edit" src="/N-1009/assets/img/editar.svg" alt="">Editar</a></li>
                            <li><a href=""><img src="" > Exportar</a></li>
                            <li><a href=""><img src="" > Eliminar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 catalogo-column">
                <div class="box-catalogo">
                    <div (click)="closeCatOptions()" class="overblock"></div>
                    <div class="box-imagen-estado-descuento">
                        <img (click)="verDetalle()" src="/N-1009/assets/img/img-cat.jpg" alt="">
                        <div class="estado">Privado</div>
                        <div class="descuento">-5%</div>
                    </div>
                    <div class="box-titulo-cantidad-opciones">
                        <div class="info">
                            <h3>Primavera 2020</h3>
                            <p>40 Productos</p>
                        </div>
                        <div (click)="showCatOptions()" class="opciones">
                            <img src="/N-1009/assets/img/edit_points.svg" alt="">
                        </div>

                        <!-- pop up opciones -->
                        <ul>
                            <li><a href=""><img class="icon-edit" src="/N-1009/assets/img/editar.svg" alt="">Editar</a></li>
                            <li><a href=""><img src="" > Exportar</a></li>
                            <li><a href=""><img src="" > Eliminar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 catalogo-column">
                <div class="box-catalogo">
                    <div (click)="closeCatOptions()" class="overblock"></div>
                    <div class="box-imagen-estado-descuento">
                        <img (click)="verDetalle()" src="/N-1009/assets/img/img-cat.jpg" alt="">
                        <div class="estado">Privado</div>
                        <div class="descuento">-5%</div>
                    </div>
                    <div class="box-titulo-cantidad-opciones">
                        <div class="info">
                            <h3>Primavera 2020</h3>
                            <p>40 Productos</p>
                        </div>
                        <div (click)="showCatOptions()" class="opciones">
                            <img src="/N-1009/assets/img/edit_points.svg" alt="">
                        </div>

                        <!-- pop up opciones -->
                        <ul>
                            <li><a href=""><img class="icon-edit" src="/N-1009/assets/img/editar.svg" alt="">Editar</a></li>
                            <li><a href=""><img src="" > Exportar</a></li>
                            <li><a href=""><img src="" > Eliminar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 catalogo-column">
                <div class="box-catalogo">
                    <div (click)="closeCatOptions()" class="overblock"></div>
                    <div class="box-imagen-estado-descuento">
                        <img (click)="verDetalle()" src="/N-1009/assets/img/img-cat.jpg" alt="">
                        <div class="estado">Privado</div>
                        <div class="descuento">-5%</div>
                    </div>
                    <div class="box-titulo-cantidad-opciones">
                        <div class="info">
                            <h3>Primavera 2020</h3>
                            <p>40 Productos</p>
                        </div>
                        <div (click)="showCatOptions()" class="opciones">
                            <img src="/N-1009/assets/img/edit_points.svg" alt="">
                        </div>

                        <!-- pop up opciones -->
                        <ul>
                            <li><a href=""><img class="icon-edit" src="/N-1009/assets/img/editar.svg" alt="">Editar</a></li>
                            <li><a href=""><img src="" > Exportar</a></li>
                            <li><a href=""><img src="" > Eliminar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 catalogo-column">
                <div class="box-catalogo">
                    <div (click)="closeCatOptions()" class="overblock"></div>
                    <div class="box-imagen-estado-descuento">
                        <img (click)="verDetalle()" src="/N-1009/assets/img/img-cat.jpg" alt="">
                        <div class="estado">Privado</div>
                        <div class="descuento">-5%</div>
                    </div>
                    <div class="box-titulo-cantidad-opciones">
                        <div class="info">
                            <h3>Primavera 2020</h3>
                            <p>40 Productos</p>
                        </div>
                        <div (click)="showCatOptions()" class="opciones">
                            <img src="/N-1009/assets/img/edit_points.svg" alt="">
                        </div>

                        <!-- pop up opciones -->
                        <ul>
                            <li><a href=""><img class="icon-edit" src="/N-1009/assets/img/editar.svg" alt="">Editar</a></li>
                            <li><a href=""><img src="" > Exportar</a></li>
                            <li><a href=""><img src="" > Eliminar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>