.box-catalogo{
    background: white;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
}

.box-imagen-estado-descuento{
    cursor: pointer;
}

.title-catalogo{
    color: #1E2933;
    font-size: 14px;
    letter-spacing: 0.97px;
    line-height: 20.11px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.subtitle-catalogo{
    color: #1E2933;
    font-size: 14px;
    letter-spacing: 0.97px;
    line-height: 20.11px;
    text-align: left;
}

.box-catalogo{
    position: relative;
}

.box-catalogo .box-imagen-estado-descuento{
    position: relative;
}


.box-catalogo .estado{
    background: white;
    color: #FF596A;
    border-radius: 10px 0px 0px 10px;
    text-transform: capitalize;
    padding: 3px 6px;
    position: absolute;
    padding-left: 25px;
    font-weight: bold;
    top: 10px;
    right: 0px;
    z-index: 2;
}

.box-catalogo .show-room{
    background: #1e2933;
    color: #f8e341;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #f8e341;
    text-transform: capitalize;
    padding: 3px 6px;
    position: absolute;
    padding-left: 25px;
    font-weight: 400;
    font-size: 14px;
    top: 40px;
    right: 0px;
    z-index: 2;
}

.box-catalogo .descuento{
    position: absolute;
    background: #1E2933;
    border-radius: 10px 0px 0px 10px;
    top: 40px;
    padding: 3px 0px;
    right: 0px;
    text-align: center;
    z-index: 2;
    color: white;
    width: 50px;
}

.box-catalogo .descuento-show-room{
    position: absolute;
    background: #1E2933;
    border-radius: 10px 0px 0px 10px;
    top: 70px;
    padding: 3px 0px;
    right: 0px;
    text-align: center;
    z-index: 2;
    color: white;
    width: 50px;
}

.box-imagen-estado-descuento{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.box-image-edit{
    width: 100%;
    height: 380px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.box-catalogo .box-titulo-cantidad-opciones{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.box-catalogo ul{
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    list-style: none;
    background: white;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -10px;
    z-index: 200;
    animation: bottonTop 0.5s;
}

.box-catalogo li{
    margin: 6px 0px;
    padding: 6px 0px;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    position: relative;
}

.box-catalogo a{
    text-decoration: none;
    color: #959BA0;
}

.image-edit{
    width: 100%;
    height: 100%;
}

.box-image-edit ul{
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    list-style: none;
    background: white;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -6px;
    z-index: 200;
    animation: bottonTop 0.5s;
}

.box-image-edit li{
    margin: 6px 0px;
    padding: 6px 0px;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    position: relative;
}

.box-image-edit a{
    text-decoration: none;
    color: #959BA0;
}

.catalogo-column{
    margin-bottom: 2em;
}

.opciones img {
    cursor: pointer;
}
.icon-edit{
    position: absolute;
    left: 15px;
}

.overblock{
    position: absolute;
    background: #1e2933b8;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.overblock-edit{
    position: absolute;
    background: #1e2933b8;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.box-catalogo ul, .box-image-edit ul,
.overblock, .overblock-edit{
    display: none;
}

.show-over,
.show-options{
    display: block !important;
}

/* MENU HEADER. */

/* SIDE RIGTH */


.header-form {
    display: flex;
    color: #323E4A;
    justify-content: space-between;
    background: #F6FBFF;
    padding: 15px 20px;
    letter-spacing: 0.54px;
}

.datos-generales {
    padding: 0px 20px;
    color: #323E4A;
    margin-top: 15px;
    margin-bottom: 22px;
    letter-spacing: 0.54px;
}

.nuevo-administrador h2 {
    font-size: 19px;
    padding: 0px;
}

.nuevo-administrador {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, .2);
    width: 423px;
    position: fixed;
    right: 0%;
    z-index: 10;
    top: 0;
    background: white;
    height: 100vh;
    transition: all .5s ease;
    transform: translateX(100%);
    z-index: 510;
}

.open {
    transform: translateX(0%);
}


.overview {
    background: rgba(0, 0, 0, .4);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
}

.acciones-form-adminitrador {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 20px;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    align-items: center;
    background: #f4f8fb;
}

.agregar,
.cancelar {
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    display: block;
    text-decoration: none;
    height: 33px;
    width: 45%;
}

.agregar {
    background: #FF596A;
    padding: 6px 0px;
    color: white;
    transition: all .5s ease;
}

.agregar:hover {
    background: #da4e5c;
}

.cancelar {
    background: white;
    border: 1px solid #FF596A;
    color: #FF596A;
    padding: 6px 0px;
    transition: all .5s ease;
}

.cancelar:hover {
    background: #ec5362;
    color: white;
}

.flx-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-options a{
    cursor: pointer;
}

.btn-options:hover a{
    color: #ff596a !important;
}

.custom-dropzone{
    color: #D7D7D7;
    border: 2px dashed #D7D7D7;
    display: flex;
    justify-content: center;
}

/* STYLES MATERIAL */
.mat-button-toggle-checked{
    background-color: #ff596a !important;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard{
    color: #fff;
}

.mat-button-toggle{
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}

.mat-button-toggle-group{
    width: 100%;
}




/* ANIMATES */
@keyframes bottonTop {
    0%   {  transform: translateY(70%);}
    100% { transform: translateY(0%);}
  } 