<app-header></app-header>

<div id="wrapper">
    <div class="opciones">
        <app-menu></app-menu>
    </div>
    <div class="contenido">
        <div class="overview"></div>

        <div class="nuevo-administrador">
            <div class="header-form">
                <h2>Nuevo administrador</h2>
                <!-- <img (click)="cerrarFormAdmin()" class="cerrar-form-admin" src="{{ templateImage.btnCerrar }}" alt=""> -->
            </div>

            <form action="">

                <h3 class="datos-generales">Datos generales</h3>

                <div class="label-field">
                    <label for="">Nombres</label>
                    <input [(ngModel)]="admin.name" name="name" type="text" class="">
                    <!-- <small style="color: red;">{{ errors.name }}</small> -->
                </div>

                <div class="label-field">
                    <label for="">Apellidos</label>
                    <input [(ngModel)]="admin.userdata.apellido" name="apellido" type="text" class="" required>
                    <!-- <small style="color: red;">{{ errors.apellido }}</small> -->
                </div>

                <div class="label-field">
                    <label for="">Teléfono</label>
                    <input [(ngModel)]="admin.userdata.telefono" name="telefono" type="tel" class="" required>
                    <!-- <small style="color: red;">{{ errors.telefono }}</small> -->
                </div>

                <div class="label-field">
                    <label for="">Correo electrónico</label>
                    <input [(ngModel)]="admin.email" name="email" type="email" class="">
                    <!-- <small style="color: red;">{{ errors.email }}</small> -->
                </div>

                <div class="label-field">
                    <label for="">Password</label>
                    <input [(ngModel)]="admin.password" name="password" type="password" class="">
                    <!-- <small style="color: red;">{{ errors.password }}</small> -->
                </div>

            </form>

            <div class="acciones-form-adminitrador">
                <!-- <a (click)="agregarAdmin()" class="agregar">
                    <span class="mas">
                        <img src="" alt="">
                    </span> Agregar
                </a>

                <a class="cancelar" (click)="cerrarFormAdmin()">
                    <span class="mas">
                        <img src="" alt="">
                    </span> Cancelar
                </a> -->
                <a class="agregar">
                    <span class="mas">
                        <img src="" alt="">
                    </span> Agregar
                </a>
                <a class="cancelar">
                    <span class="mas">
                        <img src="" alt="">
                    </span> Cancelar
                </a>
            </div>
        </div>

        <div class="filtros">
            <div class="box-buscador">
                <img class="lupa" src="{{ templateImage.lupa }}" alt="">
                <input [(ngModel)]="buscador" name="buscador" class="buscador" type="text" (keyup.enter)="buscarAdmin(buscarTexto.value)" #buscarTexto>
                <button type="button" class="hidden"></button>
            </div>

            <!-- <div (click)="accionesAdministrador()" class="box-editar">
                <div class="icono-editar">
                    <img src="{{ templateImage.lapiz }}" alt="">
                </div>
                <p class="texto-editar">Editar</p>
                <div class="icono-puntos">
                    <img src="{{ templateImage.points }}" alt="">
                </div>

                <ul class="acciones-administrador">
                    <li><img src="{{ templateImage.exportar }}" alt=""> Exportar</li>
                    <li (click)="getUsersAndDelete()"><img src="{{ templateImage.eliminar }}" alt=""> Eliminar</li>
                </ul>
            </div>

            <div class="box-create-new">
                <div class="box-mas">
                    <img class="mas" src="{{ templateImage.mas }}" alt="">
                </div>
                <a class="btn-nuevo-cliente" (click)="nuevoAdmin()">Nuevo administrador</a>
            </div> -->
        </div>


        <section class="table-data">

            <table style="width:100%">

                <tr class="tabla-fila-cabecera">
                    <th></th>
                    <th style="padding-left: 95px;">Nombre <img src="{{ templateImage.ordenar }}" alt=""></th>
                    <th>Cel <img src="{{ templateImage.ordenar }}" alt=""></th>
                    <th>Correo <img src="{{ templateImage.ordenar }}" alt=""></th>
                </tr>

                <!-- TABLA DINÁMICA -->
                <!-- <tr *ngFor="let usuario of usersAdmins" class="tabla-fila-datos">
                    <td><input (click)="removeUsers(usuario.id)" class="check-nombre" type="checkbox" name="check[]" id=""></td>
                    <td (click)="administradorDetalle(usuario.id)" class="imagen-nombre">
                        <img class="imagen" src="/assets/img/iniciales_dm_rojo.svg" alt="">
                        <p class="nombre">{{ usuario.name }}</p>
                    </td>
                    <td (click)="administradorDetalle(usuario.id)" class="telefono">{{ usuario.value_key }}</td>
                    <td (click)="administradorDetalle(usuario.id)" class="correo">{{ usuario.email }}</td>
                </tr> -->

                <tr *ngFor="let usuario of admins" class="tabla-fila-datos">
                    <td><input class="check-nombre" type="checkbox" name="check[]" id=""></td>
                    <td (click)="administradorDetalle(usuario.id)" class="imagen-nombre">
                        <img class="imagen" src="/assets/img/iniciales_dm_rojo.svg" alt="">
                        <p class="nombre">{{ usuario.name }}</p>
                    </td>
                    <td class="telefono">{{ usuario.value_key }}</td>
                    <td class="correo">{{ usuario.email }}</td>
                </tr>
            </table>
        </section>

        <!-- <div class="paginador">
    <ul class="pages">
        <li>atrás</li>
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li>adelante</li>
    </ul>
</div> -->
    </div>
</div>