<app-header breadcrumbs="Usuarios / Vendedores / Detalles vendedor"></app-header>

<div id="wrapper">
    <div class="opciones">
        <app-menu></app-menu>
    </div>
    <div class="contenido detalle-vendedor" id="vendedor">
        <div class="filtros filtro-vendedores" style="align-items: center;">
            <div class="ident-admin" style="align-items: center;">
                <div class="div-imagen">
                    <div class="iniciales-azul" style="position: inherit; margin-left: 0;"> {{iniciales}} </div>
                </div>
                <div class="div-datos">
                    <!-- <p> <strong>{{ usuario.nombres }}</strong> </p> -->
                    <p *ngIf="show" style="margin: 0;"> <strong>{{ usuarios.name }} {{ usuarios.apellidos }}</strong> </p>
                    <td class="datos" *ngFor="let data of usuarios.data_user">
                        <p *ngIf="data.field_key == 'codigo'">Código: {{ data.value_key }}</p>
                    </td>
                    <!-- <p>Código: 40</p> -->
                </div>
            </div>
            <div class="div-edit-boton">
                <div (click)="editarVendedor()" class="box-editar"> 
                    <span class="texto-editar">Acción de</span>
                    <div class="icono-puntos">
                        <img [src]="templateImage.points" alt="">
                    </div>

                    <ul class="editar-vendedor">
                        <li (click)="openDrawerRigth(true, 'create')"><img [src]="templateImage.editar" alt="">Editar</li>
                        <li (click)="exportarPDF()"><img src="{{ templateImage.exportar }}" alt=""> Exportar</li>
                        <li (click)="getUsersAndDelete()"><img src="{{ templateImage.eliminar }}" alt=""> Eliminar</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="administrador-detalle">
            <div class="row">
                <div class="col-sm-12 col-md-8 datos-personales">

                    <div class="row row-finanzas">
                        <div class="col-sm-12">
                            <h2 class="title-tus-finanzas">Tus finanzas</h2>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="comisiones comisiones-ganadas">
                                <p class="comisiones">Comisiones ganadas</p>
                                <hr class="division-comisiones">
                                <p class="total-fecha">Total 2020</p>
                                <p class="valor-comision">$2.300.400</p>
                                <div class="placeholder-img"><img [src]="templateImage.ganadas" alt=""></div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="comisiones comisiones-perdidas">
                                <p class="comisiones">Comisiones perdidas</p>
                                <hr class="division-comisiones">
                                <p class="total-fecha">Junio</p>
                                <p class="valor-comision">$1.300.400</p>
                                <div class="placeholder-img"><img [src]="templateImage.perdidas" alt=""></div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="comisiones comisiones-a-perder">
                                <p class="comisiones">Comisiones próximas a perder</p>
                                <hr class="division-comisiones">
                                <p class="total-fecha">Total 2020</p>
                                <p class="valor-comision">$4.300.400</p>
                                <div class="placeholder-img"><img [src]="templateImage.proximas" alt=""></div>
                            </div>
                        </div>

                    </div>

                    <div class="row row-datos">

                        <div class="col-sm-12">
                            <h2 class="title-datos-personales">Datos personales</h2>
                        </div>

                        <div style="padding-left: 15px" class="datos">
                            <p>Nombres</p>
                            <p *ngIf="show">{{ usuarios.name }}</p>
                        </div>

                        <div class="datos">
                            <p>Apellidos</p>
                            <p *ngIf="show">{{ usuarios.apellidos }}</p>
                        </div>


                        <div class="datos">
                            <p>Correo electrónico</p>
                            <p *ngIf="show">{{ usuarios.email }}</p>
                        </div>

                        <div class="datos">
                            <p>Cédula</p>
                            <p >{{ usuarios.dni }}</p>
                        </div>

                        <div class="datos" *ngFor="let data of usuarios.data_user">
                            <p *ngIf="data.field_key == 'telefono'">Teléfono</p>
                            <p *ngIf="data.field_key == 'telefono'">{{ data.value_key }}</p>
                        </div>

                    </div>

                    <div class="row row-credenciales">
                        <div class="col-sm-12">
                            <h2 class="title-credenciales">Credenciales</h2>
                        </div>

                        <div class="col-sm-12 col-md-4 datos">
                            <p>Usuario</p>
                            <p *ngIf="show">{{ usuarios.email }}</p>
                        </div>

                        <div class="col-sm-12 col-md-3 datos">
                            <p>Contraseña</p>
                            <p>**************</p>
                        </div>
                    </div>

                    <div class="row row-clientes">
                        <div class="col-sm-12">
                            <h2 class="title-tiendas">Clientes</h2>
                        </div>

                        <div class="col-sm-12">
                            <table class="tabla-clientes-en-vendedores">
                                <thead>
                                    <th>Nombre del cliente</th>
                                    <th>Nit</th>
                                    <th>Email</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cliente of usuarios.clientes">
                                        <td>{{cliente.name}}</td>
                                        <td>{{cliente.name}}</td>
                                        <td>{{cliente.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

                <div class="col-sm-12 col-md-4 aside-pedidos">
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab label="Pedidos">
                            <input #input (keyup)="filtro($event)" class="buscador-pedido" type="search" placeholder="Realiza una búsqueda">
                        <div class="scroll-table">
                            <table class="tabla-pedidos" mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="Pedidos">
                                    <th *matHeaderCellDef></th>
                                    <td *matCellDef="let pedido" style="cursor: pointer;" (click)="navigatePedido(pedido.id_pedido)">
                                        <div class="box-pedidos" (click)="navigatePedido(pedido.id_pedido)">
                                            <div class="foto-referencia">
                                                <p>Pedido #{{pedido.codigo}}</p>
                                            </div>
                                            <hr>
                                            <div class="info-pedido">
                                                <p>{{pedido.fecha}}</p>
                                                <p class="valor_pedido">Valor: {{pedido.total | currency : 'COP':'symbol-narrow' :'1.0-0'}}</p>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                                <tr mat-row *matRowDef="let row; columns: columns"></tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No se encuentra el dato filtrado "{{ input.value }}"</td>
                                </tr>
                            </table>
                        </div>
                        </mat-tab>
                    </mat-tab-group>

                </div>
                <app-drawer-advanced class="form-advanced" name="crear-vendedor" title="Crear Vendedor" [open]="openDrawer" (close)="openDrawerRigth(false, 'create')" (submit)="actualizarVendedor()" button="Actualizar">
                    <div class="tabs">
                        <ul>
                            <li><a [class.activeclasstab]="activeDatos" (click)="datosGenerales()">Datos generales</a></li>
                            <li><a [class.activeclasstab]="activeUsuario" (click)="datosCredenciales()">Usuario y contraseña</a></li>
                            <li><a [class.activeclasstab]="asignarCliente" (click)="datosAsignar()">Asignar un cliente</a></li>
                        </ul>
                    </div>
    
                    <div class="fields">
                        <div *ngIf="generales" class="field-datos-generales">
                            <div class="label-field">
                                <label for="">Nombres</label>
                                <input [(ngModel)]="usuarios.name" name="nombres" type="text" class="">
                                <small *ngIf="nameBool"><span class="text-danger">{{error.name}}</span></small>
                            </div>
    
                            <div class="label-field">
                                <label for="">Apellidos</label>
                                <input [(ngModel)]="usuarios.apellidos" name="apellidos" type="text" class="">
                                <small *ngIf="apellidosBool"><span class="text-danger">{{error.apellidos}}</span></small>
                            </div>
    
    
                            <div class="label-field">
                                <label for="">Cédula de ciudadanía</label>
                                <input [(ngModel)]="usuarios.dni" name="dni" type="number" class="">
                                <small *ngIf="dniBool"><span class="text-danger">{{error.dni}}</span></small>
                            </div>
    
                            <div class="label-field">
                                <label for="">{{usuarios.data_user[0].field_key}}</label>
                                <input [(ngModel)]="usuarios.data_user[0].value_key" name="celular" type="tel" class="">
                                <small *ngIf="telefonoBool"><span class="text-danger">{{error.telefono}}</span></small>
                            </div>
    
                            <div class="label-field">
                                <label for="">{{usuarios.data_user[1].field_key}}</label>
                                <input [(ngModel)]="usuarios.data_user[1].value_key" type="number" name="codigo" class="">
                                <small *ngIf="codigoBool"><span class="text-danger">{{error.codigo}}</span></small>
                            </div>
    
                        </div>
    
                        <div *ngIf="credenciales" class="credenciales">
                            <div class="label-field">
                                <label for="">Correo electrónico</label>
                                <input [(ngModel)]="usuarios.email" name="email" type="email" class="">
                                <small *ngIf="emaiBool"><span class="text-danger">{{error.email}}</span></small>
                            </div>
    
                            <div class="label-field">
                                <label for="">Contraseña</label>
                                <input [(ngModel)]="usuarios.password" name="password" type="password" class="">
                                <small *ngIf="passwordBool"><span class="text-danger">{{error.password}}</span></small>
                            </div>
    
                            <div class="label-field">
                                <label for="">Confirmar Contraseña</label>
                                <input [(ngModel)]="usuarios.confirm_password" name="confirm_password" type="password"
                                    class="">
                                    <small *ngIf="confirm_passwordBool"><span class="text-danger">{{error.confirm_password}}</span></small>
                            </div>
                        </div>
    
                        <div *ngIf="asignar" class="asignar-cliente">
                            <div class="search-cliente">
                                <p>Elige un cliente</p>
                                <mat-form-field class="w-100">
                                    <mat-label>Asignar Cliente</mat-label>
                                    <input placeholder="Asignar Cliente" matInput [formControl]="asigCliente" [matAutocomplete]="auto">
                                    <mat-icon matSuffix>search</mat-icon>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let cliente of filteredOptions | async" [value]="cliente" (blur)="updateAsignCliente(cliente)">
                                          {{cliente}}
                                        </mat-option>
                                      </mat-autocomplete>                 
                                </mat-form-field>
                            </div>
                            <div class="list-vendedores">
                                <div class="item-cliente" *ngFor="let cliente of usuarios.clientes" [@fadeIn]>
                                    <p> 
                                        <span class="icon-cliente">{{(cliente.name?.charAt(0)) + (cliente.apellidos?.charAt(0))}}</span> 
                                        {{cliente.name + ' ' + cliente.apellidos}}
                                    </p>
                                    <p (click)="deleteAsignClient(cliente)" style="cursor: pointer;" class="text-danger"><mat-icon>delete_outline</mat-icon></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </app-drawer-advanced>
            </div>
        </div>
    </div>
</div>