<app-header></app-header>

<div id="wrapper">
    <div class="opciones">
        <app-menu></app-menu>
    </div>
    <div class="contenido">
        <div class="filtros filtro-vendedores">
            <div class="ident-admin">
                <div class="div-imagen">
                    <div class="iniciales-azul"> {{iniciales}} </div>
                </div>
                <div class="div-datos">
                    <!-- <p> <strong>{{ usuario.nombres }}</strong> </p> -->
                    <p *ngIf="show"> <strong>{{ usuarios.name }} {{ usuarios.apellidos }}</strong> </p>
                    <td class="datos" *ngFor="let data of usuarios.data_user">
                        <p *ngIf="data.field_key == 'codigo'">Código: {{ data.value_key }}</p>
                    </td>
                    <!-- <p>Código: 40</p> -->
                </div>
            </div>
            <div class="div-edit-boton">
                <div (click)="editarVendedor()" class="box-editar"> 
                    <span class="texto-editar">Acción de</span>
                    <div class="icono-puntos">
                        <img src="./assets/img/edit_points.svg" alt="">
                    </div>

                    <ul class="editar-vendedor">
                        <li><img [src]="templateImage.editar" alt="">Editar</li>
                        <li><img src="{{ templateImage.exportar }}" alt=""> Exportar</li>
                        <li><img src="{{ templateImage.eliminar }}" alt=""> Eliminar</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="administrador-detalle">
            <div class="row">
                <div class="col-sm-12 col-md-8 datos-personales">

                    <div class="row row-finanzas">
                        <div class="col-sm-12">
                            <h2 class="title-tus-finanzas">Tus finanzas</h2>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="comisiones comisiones-ganadas">
                                <p class="comisiones">Comisiones ganadas</p>
                                <hr class="division-comisiones">
                                <p class="total-fecha">Total 2020</p>
                                <p class="valor-comision">$2.300.400</p>
                                <div class="placeholder-img"><img src="./assets/img/ganadas.svg" alt=""></div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="comisiones comisiones-perdidas">
                                <p class="comisiones">Comisiones perdidas</p>
                                <hr class="division-comisiones">
                                <p class="total-fecha">Junio</p>
                                <p class="valor-comision">$1.300.400</p>
                                <div class="placeholder-img"><img src="./assets/img/perdidas.svg" alt=""></div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="comisiones comisiones-a-perder">
                                <p class="comisiones">Comisiones próximas a perder</p>
                                <hr class="division-comisiones">
                                <p class="total-fecha">Total 2020</p>
                                <p class="valor-comision">$4.300.400</p>
                                <div class="placeholder-img"><img src="./assets/img/proximas.svg" alt=""></div>
                            </div>
                        </div>

                    </div>

                    <div class="row row-datos">

                        <div class="col-sm-12">
                            <h2 class="title-datos-personales">Datos personales</h2>
                        </div>

                        <div style="padding-left: 15px" class="datos">
                            <p>Nombres</p>
                            <p *ngIf="show">{{ usuarios.name }}</p>
                        </div>

                        <div class="datos">
                            <p>Apellidos</p>
                            <p *ngIf="show">{{ usuarios.apellidos }}</p>
                        </div>


                        <div class="datos">
                            <p>Correo electrónico</p>
                            <p *ngIf="show">{{ usuarios.email }}</p>
                        </div>

                        <div class="datos">
                            <p>Cedula</p>
                            <p >{{ usuarios.dni }}</p>
                        </div>

                        <div class="datos" *ngFor="let data of usuarios.data_user">
                            <p *ngIf="data.field_key == 'telefono'">{{data.field_key}}</p>
                            <p *ngIf="data.field_key == 'telefono'">{{ data.value_key }}</p>
                        </div>

                    </div>

                    <div class="row row-credenciales">
                        <div class="col-sm-12">
                            <h2 class="title-credenciales">Credenciales</h2>
                        </div>

                        <div class="col-sm-12 col-md-4 datos">
                            <p>Usuario</p>
                            <p *ngIf="show">{{ usuarios.email }}</p>
                        </div>

                        <div class="col-sm-12 col-md-3 datos">
                            <p>Contraseña</p>
                            <p>**************</p>
                        </div>
                    </div>

                    <div class="row row-clientes">
                        <div class="col-sm-12">
                            <h2 class="title-tiendas">Clientes</h2>
                        </div>

                        <div class="col-sm-12">
                            <table class="tabla-clientes-en-vendedores">
                                <thead>
                                    <th>Nombre del cliente</th>
                                    <th>Nit</th>
                                    <th>Email</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cliente of usuarios.clientes">
                                        <td>{{cliente.name}}</td>
                                        <td>{{cliente.name}}</td>
                                        <td>{{cliente.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

                <div class="col-sm-12 col-md-4 aside-pedidos">
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab label="Pedidos">
                            <input #input (keyup)="filtro($event)" class="buscador-pedido" type="search" placeholder="Realiza una búsqueda">
                            <table mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="Pedidos">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell class="box-pedidos" *matCellDef="let pedido" style="cursor: pointer;" (click)="navigatePedido(pedido.id_pedido)">
                                        <div class="foto-referencia">
                                            <p>Pedido #{{pedido.codigo}}</p>
                                        </div>
                                        <div class="info-pedido">
                                            <p>{{pedido.fecha}}</p>
                                            <p>Valor: {{pedido.total | currency : 'COP':'symbol-narrow' :'1.0-0'}}</p>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                                <tr mat-row *matRowDef="let row; columns: columns"></tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No se encuentra el dato filtrado "{{ input.value }}"</td>
                                </tr>
                            </table>
                            <!-- <div class="box-pedidos" *ngFor="let pedido of usuarios.pedidos" (click)="navigatePedido(pedido.id_pedido)">
                                <div class="foto-referencia">
                                    <p>Pedido #{{pedido.codigo}}</p>
                                </div>
                                <div class="info-pedido">
                                    <p>{{pedido.fecha}}</p>
                                    <p>Valor: {{pedido.total | currency : 'COP':'symbol-narrow' :'1.0-0'}}</p>
                                </div>
                            </div> -->
                        </mat-tab>
                    </mat-tab-group>

                </div>
            </div>
        </div>
    </div>
</div>