<app-header></app-header>
<app-dialog-pedido [id_catalogo]="selectCatalogo" [id_producto]="selectProduct"></app-dialog-pedido>

<div id="wrapper">
    <div class="opciones">
        <app-menu></app-menu>
    </div>
    <div class="contenido">

        <div class="filtros">
        </div>

        
        <div class="cliente-detalle" style="padding-top: 0;">
            <div class="row row-show-room">
                <div class="col-sm-12 col-md-8 container-show-room">
                    <div class="row">
                        <div class="col-sm-12 cont-img-banner">
                            <img src="./assets/img/show-room-banner.png" alt="banner-show-room">
                        </div>

                        <div class="col-sm-12">
                            <div *ngIf="productos.length == 0">
                                <p class="txt-sin-disponibilidad">Ningun producto disponible.</p>
                            </div>
                            <div class="card-show-room" *ngFor="let producto of productos">
                                <div class="img-show-room">
                                    <img src="./assets/img/image1.png" alt="">
                                </div>
                                <div class="info-show-room">
                                    <p>Cod: {{producto.codigo}}</p>
                                    <p style="margin-bottom: 1em;">Ref: {{producto.referencia}}</p>

                                    <p>Puma</p>
                                    <p class="nombre-show-room">{{producto.nombre}}</p>

                                    <p class="stock-show-room">Stock: {{producto.stock}} cajas</p>

                                    <p class="price-show-room">{{producto.total | currency:'COP':'symbol-narrow' :'1.0-0' }}</p>
                                </div>
                                <div class="buttons-show-room">
                                    <div class="box-create-new">
                                        <div class="box-view-show-room">
                                            <mat-icon class="icon-center">shopping_bag</mat-icon>
                                        </div>
                                        <a (click)="pedidoInterna(producto.id_producto)" class="btn-view-product-show-r">Ver producto</a>
                                    </div>
                                    <div class="box-create-new">
                                        <div class="box-shop-show-room">
                                            <mat-icon class="icon-center">visibility</mat-icon>
                                        </div>
                                        <a  (click)="addPedido(producto)" class="btn-shop-product-show-r">Añadir pedido</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                </div>
            </div>

        </div>

    </div>
</div>