<header class="header">
    <div class="header-items">
        <div class="breadcrumb-custom">
            <ul>
                <li><a href="#"> Sección</a></li>
                <li>/</li>
                <li><a href="#"> Vista</a></li>
            </ul>
        </div>
        <div class="notify-accout">
            <div class="notify">
                <img src="{{ templateImage.notificacion }}" alt=""> <p>Notificaciones</p>
            </div>
            <div (click)="logout()" class="close-custom">
                <img src="{{ templateImage.logout }}" alt=""> 
                <p>Cerrar sesión</p>
            </div>
            <div class="account">
                <img src="{{ templateImage.user }}" alt=""> <p>Mi cuenta</p>
            </div>
        </div>
    </div>
</header>