<div class="bg-login">
    <div class="content-login">
        <div class="col-title">
            <h1 class="plataforma">Plataforma</h1>
            <h2 class="gestion">Gestión interna de ventas</h2>
        </div>
        <div class="col-login">
            <div class="box-login">
                <img src="" alt="">
                <form action="">
                    <div class="box-input-label">
                        <!-- <label for="">Usuario</label> -->
                        <input [(ngModel)]="user.email" name="email" type="text" placeholder="Usuario">
                    </div>
    
                    <div class="box-input-label last-label">
                        <!-- <label for="">Contraseña</label> -->
                        <input [(ngModel)]="user.password" name="password" type="password" placeholder="Contraseña">
                    </div>

                    <div class="box-recuperar-contrasena">
                        <a class="recuperar-contrasena" href="#">Recuperar contraseña</a>
                    </div>

                    <div class="box-btn-iniciar-sesion">
                        <a (click)="ingresar()">Iniciar Session</a>
                    </div>

                </form>
            </div> 
        </div>
    </div>
    
</div>