<div class="overpedido">
    <div class="pop-up-pedido">
        <div class="bar-close">
            <button (click)="showOverPedido()" mat-icon-button aria-label="Menu opciones">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h2>Comienza tu pedido</h2>

        <div class="label-field">
            <label >Cliente</label>
            <select name="cliente" id="" [(ngModel)]="crear_pedido.cliente">
                <option value="">Seleccione...</option>
                <option *ngFor="let cliente of clientes" [value]="cliente.id">
                    {{cliente.name + ' ' + cliente.apellidos}}
                </option>
            </select>
        </div>

        <div class="label-field">
            <label >Vendedor</label>
            <select name="vendedor" id="" [(ngModel)]="crear_pedido.vendedor">
                <option value="">Seleccione...</option>
                <option *ngFor="let vendedor of vendedores" [value]="vendedor.id">
                    {{vendedor.name + ' ' + vendedor.apellidos}}
                </option>
            </select>
        </div>

        <div class="label-field">
            <label >Catálogo</label>
            <select name="catalogo" id="" [(ngModel)]="crear_pedido.catalogo">
                <option value="">-</option>
                <option *ngFor="let catalogo of catalogos" [value]="catalogo.id_catalogo">
                    {{catalogo.titulo}}
                </option>
            </select>
        </div>

        <div class="label-field">
            <a (click)="continuarPedido()" class="continuar-pedido">
                Continuar
            </a>
        </div>
    </div>
</div>

<app-header></app-header>

<div class="workplace">
    <div class="slide-menu">
        <app-menu></app-menu>
    </div>
    <div class="area">
        <!-- <router-outlet></router-outlet> -->
        <div class="row">
            <div class="filtros">
                <div class="fechas">
                    <p class="hoy">Hoy</p>
                    <p class="ayer">Ayer</p>
                    <p class="todos">Todos</p>
                </div>
                <div class="box-buscador">
                    <img class="lupa" src="/N-1009/assets/img/search.svg" alt="">
                    <input class="buscador" type="text">
                </div>
            
                <div (click)="accionesPedido()" class="box-editar">
                    <div class="icono-editar">
                        <img src="/N-1009/assets/img/editar.svg" alt="">
                    </div>
                    <p class="texto-editar">Editar</p>
                    <div class="icono-puntos">
                        <img src="/N-1009/assets/img/edit_points.svg" alt="">
                    </div>
            
                    <!-- Pop up editar -->
                    <ul class="acciones-pedidos">
                        <li>Exportar</li>
                        <li>Eliminar</li>
                    </ul>
                </div>
            
                <div class="box-create-new">
                    <div class="box-mas">
                        <img class="mas" src="/N-1009/assets/img/mas.svg" alt="">
                    </div>
                    <a class="btn-nuevo-cliente" (click)="nuevoPedido()">Nuevo pedido</a>
                </div>
            </div>
        </div>


        <section class="table-data">

            <table style="width:100%">
                <tr class="tabla-fila-cabecera">
                    <th></th>
                    <th>Fecha <img src="/N-1009/assets/img/arrows_orden.svg" alt=""></th>
                    <th>Código <img src="/N-1009/assets/img/arrows_orden.svg" alt=""></th>
                    <th>Vendedor <img src="/N-1009/assets/img/arrows_orden.svg" alt=""></th>
                    <th>Cliente <img src="/N-1009/assets/img/arrows_orden.svg" alt=""></th>
                    <th>Valor <img src="/N-1009/assets/img/arrows_orden.svg" alt=""></th>
                    <th class="head-state">Estado del pedido <img src="/N-1009/assets/img/arrows_orden.svg" alt=""></th>
                </tr>

                <tr class="tabla-fila-datos" *ngFor="let pedido of pedidos">
                    <td><input class="check-nombre" type="checkbox" name="" id=""></td>
                    <td class="imagen-nombre">
                        <p class="nombre">{{pedido.fecha}}</p>
                    </td>
                    <td class="telefono">{{pedido.codigo}}</td>
                    <td class="correo">{{pedido.name_vendedor + " " + pedido.apellido_vendedor}}</td>
                    <td class="correo">{{pedido.name_cliente + " " + pedido.apellido_cliente}}</td>
                    <td class="correo">{{pedido.total |currency:'COP':'symbol-narrow' :'1.0-0'}}</td>
                    <td class="status">
                        <div class="estado estado-aprobado" *ngIf="pedido.estado == 1"></div>
                        <div class="estado estado-pendiente" *ngIf="pedido.estado == 2"></div>
                        <div class="estado estado-rechazado" *ngIf="pedido.estado == 3"></div>
                    </td>
                </tr>
            </table>
        </section>
    </div>
</div>