<div class="overpedido">
    <div class="pop-up-pedido">
        <div class="bar-close">
            <button (click)="showOverPedido()" mat-icon-button aria-label="Menu opciones">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h2>Comienza tu pedido</h2>

        <div class="label-field w-70">
            <label >Cliente</label>
            <select name="cliente" id="" [(ngModel)]="crear_pedido.cliente">
                <option value="">Seleccione...</option>
                <option *ngFor="let cliente of clientes" [value]="cliente.id">
                    {{cliente.name + ' ' + cliente.apellidos}}
                </option>
            </select>
            <small *ngIf="clienteBool"><span class="text-danger">{{error.cliente}}</span></small>
        </div>

        <div class="label-field w-70">
            <label >Vendedor</label>
            <select name="vendedor" id="" [(ngModel)]="crear_pedido.vendedor">
                <option value="">Seleccione...</option>
                <option *ngFor="let vendedor of vendedores" [value]="vendedor.id">
                    {{vendedor.name + ' ' + vendedor.apellidos}}
                </option>
            </select>
            <small *ngIf="vendedorBool"><span class="text-danger">{{error.vendedor}}</span></small>
        </div>

        <div class="label-field w-70">
            <label >Catálogo</label>
            <select name="catalogo" id="" [(ngModel)]="crear_pedido.catalogo">
                <option value="">-</option>
                <option *ngFor="let catalogo of catalogos" [value]="catalogo.id_catalogo">
                    {{catalogo.titulo}}
                </option>
            </select>
            <small *ngIf="catalogoBool"><span class="text-danger">{{error.catalogo}}</span></small>
        </div>

        <div class="form-group label-field w-70 text-center">
            <button (click)="continuarPedido()" class="btn btn-danger mt-5 btn-continuar">
                <span class="box-icon-mas">
                    <img class="mas" src="./assets/img/mas.svg" alt="">
                </span>
                Continuar
            </button>
        </div>
        <!-- <div class="label-field w-70">
            <div class="label-field">
                <button class="agregar" (click)="continuarPedido()">
                    <span class="box-mas registrar-producto">
                        <img class="mas" src="./assets/img/mas.svg" alt="">
                    </span> Continuar
                </button>
            </div>
        </div> -->
    </div>
</div>

<!-- Dialog - Cambiar el estado del pedido. -->
<ng-template #changeState>
    <!-- <h2 matDialogTitle>Cambiar estado</h2> -->
    <div class="close-dialog">
        <button mat-icon-button aria-label="Menu opciones" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="label-field" style="width: 100%;">
        <label for="estados">CAMBIAR ESTADO</label>
        <select name="estados" [(ngModel)]="change_state">
            <option [value]="0">Seleccione el estado...</option>
            <option [value]="1"> Activo</option>
            <option [value]="2"> Pendiente</option>
            <option [value]="3"> Rechazado</option>
        </select>
    </div>
    <mat-dialog-actions align="end">
        <!-- <button mat-button matDialogClose="no">Cancelar</button> -->
        <a class="continuar-pedido" style="margin-top: 0; margin-bottom: 1em;" (click)="cambiarEstado()">
            Cambiar
        </a>
    </mat-dialog-actions>
</ng-template>


<div class="workplace">
    <div class="header">
        <app-header breadcrumbs="Pedidos"></app-header>        
    </div>
    <div class="slide-menu">
        <app-menu></app-menu>
    </div>
    <div class="area">
        <!-- <router-outlet></router-outlet> -->
        <div class="row">
            <div class="filtros">
                <div class="fechas">
                    <p class="hoy" (click)="changeFilterDate('hoy')">Hoy</p>
                    <p class="ayer" (click)="changeFilterDate('ayer')">Ayer</p>
                    <p class="todos fecha-active" (click)="changeFilterDate('todos')">Todos</p>
                </div>
                <div class="box-buscador">
                    <img class="lupa" src="./assets/img/search.svg" alt="">
                    <input class="buscador" placeholder="Buscar..." (keyup)="filtro($event)" type="text">
                </div>
            
                <div  (click)="accionesAdministrador()" style="height: 31px;" class="box-editar">
                    <!-- <div class="icono-editar">
                        <img src="{{ templateImage.lapiz }}" alt="">
                    </div> -->
                    <span class="texto-editar">Acción de</span>
                    <div class="icono-puntos">
                        <img src="./assets/img/edit_points.svg" alt="">
                    </div>
    
                    <ul class="acciones-administrador">
                        <li (click)="openDrawerRigth(true)">
                            <img src="./assets/img/editar.svg" alt=""> Editar
                        </li>
                        <li (click)="exporter.exportTable('xlsx', {fileName:'pedidos'})">
                            <img src="./assets/img/icons-filter/export.svg" alt=""> Exportar
                        </li>
                    </ul>
                </div>
            
                <div class="box-create-new">
                    <div class="box-mas">
                        <img class="mas" src="./assets/img/mas.svg" alt="">
                    </div>
                    <a class="btn-nuevo-cliente" (click)="nuevoPedido()">Nuevo pedido</a>
                </div>
            </div>
        </div>

        <section class="table-data">

            <table mat-table [dataSource]="dataSource" matTableExporter  #exporter="matTableExporter">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let pedido; let i = index">
                        <mat-checkbox (click)="$event.stopPropagation()"
                        (click)="selectPedidoCheckbox(pedido, i)"
                            (change)="$event ? selection.toggle(pedido) : null"
                            [checked]="selection.isSelected(pedido)"
                            [aria-label]="checkboxLabel(pedido)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef>Fecha</th>
                    <td mat-cell (click)="redirectDetalle(pedido.id_pedido)" style="cursor: pointer;" *matCellDef="let pedido">{{ pedido.fecha }}</td>
                </ng-container>
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef>Código</th>
                    <td mat-cell (click)="redirectDetalle(pedido.id_pedido)" style="cursor: pointer;" *matCellDef="let pedido">{{ pedido.codigo }}</td>
                </ng-container>
                <ng-container matColumnDef="vendedor">
                    <th mat-header-cell *matHeaderCellDef>Vendedor</th>
                    <td mat-cell (click)="redirectDetalle(pedido.id_pedido)" style="cursor: pointer;" *matCellDef="let pedido">{{ pedido.name_vendedor +' '+pedido.apellido_vendedor }}</td>
                </ng-container>
                <ng-container matColumnDef="cliente">
                    <th mat-header-cell *matHeaderCellDef>Cliente</th>
                    <td mat-cell (click)="redirectDetalle(pedido.id_pedido)" style="cursor: pointer;" *matCellDef="let pedido">{{pedido.name_cliente + " " + pedido.apellido_cliente}}</td>
                </ng-container>
                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef>Valor</th>
                    <td mat-cell (click)="redirectDetalle(pedido.id_pedido)" style="cursor: pointer;" *matCellDef="let pedido"> {{pedido.total |currency:'COP':'symbol-narrow' :'1.0-0'}}</td>
                </ng-container>
                <ng-container matColumnDef="estado_pedido">
                    <th mat-header-cell *matHeaderCellDef>Fecha</th>
                    <td mat-cell *matCellDef="let pedido">
                        <div *ngIf="pedido.id_estado == 1"
                            #tooltip="matTooltip"
                            matTooltip="Aprobado"
                            matTooltipPosition="left"
                            matTooltipHideDelay="1000"
                            class="estado estado-aprobado"></div>
                            
                            <div *ngIf="pedido.id_estado == 2" 
                            #tooltip="matTooltip"
                            matTooltip="Pendiente"
                            matTooltipPosition="left"
                            matTooltipHideDelay="100000"
                            class="estado estado-pendiente"
                            (click)="openDialogState(pedido.id_pedido)"></div>

                            <div *ngIf="pedido.id_estado == 3"
                            #tooltip="matTooltip"
                            matTooltip="Rechazado"
                            matTooltipPosition="left"
                            matTooltipHideDelay="1000"
                            class="estado estado-rechazado"></div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

            <!-- <table class="table">
                <thead>
                    <tr class="tabla-fila-cabecera">
                        <th></th>
                        <th>Fecha</th>
                        <th>Código</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Valor</th>
                        <th>Estado del pedido</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="tabla-fila-datos" *ngFor="let pedido of pedidos | customPaginate:page_size:page_number">
                        <td>
                            <input class="check-nombre" (change)="selectPedidoCheckbox($event, pedido)" type="checkbox" name="check-pedido" id="check-pedido">
                        </td>
                        <td (click)="redirectDetalle(pedido.id_pedido)">
                            <p class="nombre">{{pedido.fecha}}</p>
                        </td>
                        <td (click)="redirectDetalle(pedido.id_pedido)">
                            {{pedido.codigo}}
                        </td>
                        <td (click)="redirectDetalle(pedido.id_pedido)">
                            {{pedido.name_vendedor + " " + pedido.apellido_vendedor}}
                        </td>
                        <td (click)="redirectDetalle(pedido.id_pedido)">
                            {{pedido.name_cliente + " " + pedido.apellido_cliente}}
                        </td>
                        <td (click)="redirectDetalle(pedido.id_pedido)">
                            {{pedido.total |currency:'COP':'symbol-narrow' :'1.0-0'}}
                        </td>
                        <td>
                            <!-- Aprobado
                            <div *ngIf="pedido.id_estado == 1"
                            #tooltip="matTooltip"
                            matTooltip="Aprobado"
                            matTooltipPosition="left"
                            matTooltipHideDelay="1000"
                            class="estado estado-aprobado"></div>
                            
                            <div *ngIf="pedido.id_estado == 2" 
                            #tooltip="matTooltip"
                            matTooltip="Pendiente"
                            matTooltipPosition="left"
                            matTooltipHideDelay="100000"
                            class="estado estado-pendiente"
                            (click)="openDialogState(pedido.id_pedido)"></div>

                            <div *ngIf="pedido.id_estado == 3"
                            #tooltip="matTooltip"
                            matTooltip="Rechazado"
                            matTooltipPosition="left"
                            matTooltipHideDelay="1000"
                            class="estado estado-rechazado"></div>
                        </td>
                    </tr>
                </tbody>
            </table> -->

        </section>
    </div>
        
    <!-- DRAWER EDITAR PRODUCTO. -->
    <app-drawer-rigth name="edit-pedido" title="Editar pedido" [open]="openDrawer"
    (close)="openDrawerRigth(false)" (submit)="submitEditPedido()" button="Actualizar">
        <form>
            <div class="label-field">
                <label for="">Metodo de pago</label>
                <mat-button-toggle-group  [(ngModel)]="edit_pedido.metodo_pago" name="forma_pago" aria-label="forma_pago">
                    <mat-button-toggle checked="true" value="contado">Contado</mat-button-toggle>
                    <mat-button-toggle value="credito">Credito 45 dias</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="label-field">
                <div class="detalle-pedido" style="cursor: auto;" *ngFor="let producto of edit_pedido.productos; let iProd = index;">
                    <div class="title-detalle">
                        <img src="http://127.0.0.1:8000/storage/catalogos/12.png" alt="catalogo">
                        <p>Ref: {{producto.referencia}}</p>
                    </div>
                    <!-- <div class="tiendas-detalle" *ngFor="let tienda of producto.tiendas">
                        <p><span class="bold">{{tienda.lugar}}</span> L {{tienda.local}}</p>
                        <span>{{tienda.cantidad_producto}}</span>
                    </div> -->
                    <div class="input-cantidad" *ngFor="let tienda of producto.tiendas; let iTienda = index">
                        <p class="title"> <span class="bold">{{tienda.lugar}}</span> L {{tienda.local}}</p>
                        <a class="remove" type="button" (click)="resCantidad(iProd, iTienda)">
                            <mat-icon aria-hidden="false" class="icon-tienda" aria-label="Camera icon">remove</mat-icon>
                        </a>
                        <input name="cantidad{{producto.producto+'-'+iTienda}}" type="text" [(ngModel)]="tienda.cantidad_producto" class="cantidad">
                        <a class="add" type="button" (click)="sumCantidad(iProd, iTienda)">
                            <mat-icon aria-hidden="false" class="icon-tienda" aria-label="Camera icon">add</mat-icon>
                        </a>
                    </div>
                </div>
                <div class="total-pedido">
                    <p>Total</p>
                    <span>{{edit_pedido.total | currency:'COP':'symbol-narrow' :'1.0-0'}}</span>
                </div>
            </div>
        </form>
    </app-drawer-rigth>
</div>

<!-- <div class="footer">
    <div class="footer-paginate">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link paginate" (click)="changePage(null, true)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </a>
                </li>
                <li class="page-item" *ngFor="let item of [].constructor(pages.max_pages); let i = index" [class]="(pages.first_page+i == page_number) ? 'page-item active' : 'page-item'">
                    <a class="page-link paginate" (click)="changePage(pages.first_page+i)">
                    {{pages.first_page+i}}
                    </a>
                </li>
                <li class="page-item" (click)="changePage(null, false, true)">
                    <a class="page-link paginate">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="label-field label-field-paginate">
            <select name="changeNumberPage" id="changeNumberPage" class="select-paginate"
            (change)="changePaginate($event)">
                <option [value]="5"> 5 Por página </option>
                <option [value]="10"> 10 Por página </option>
                <option [value]="15"> 15 Por página </option>
                <option [value]="20"> 20 Por página </option>
                <option [value]="30"> 30 Por página </option>
            </select>
        </div>   
    </div>
</div> -->
