<app-header></app-header>

<div class="workplace">
    <div class="slide-menu">
        <app-menu></app-menu>
    </div>
    <div class="area">
        <!-- <router-outlet></router-outlet> -->
        <div class="row">
            <div class="filtros" style="margin-bottom: 15px;">
                <div class="box-create-new">
                    <div class="box-mas">
                        <img class="mas" src="assets/img/mas.svg" alt="">
                    </div>
                    <a class="btn-nuevo-cliente" >Nuevo Producto</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row row-producto">
                    <div class="col-md-4">
                        <img src="assets/img/image1.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <div class="info-interna">
                            <p class="codigo">Cod: 7818137912</p>
                            <p class="referencia">Ref: UIL-39238230</p>
                            <p class="marca">New Balance</p>
                            <p class="nombre">Fresh Foam Arishi</p>
                            <p class="stock">Stock: 324 cajas</p>
                            <p class="precio">$730.000</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a (click)="verProducto()" class="ver-producto">
                            <span>
                                <img src="" alt="">
                            </span>
                            Ver producto
                        </a>
                        <a class="anadir-a-pedido" href="#">
                            <span>
                                <img src="" alt="">
                            </span>
                            Añadir a pedido
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row row-producto">
                    <div class="col-md-4">
                        <img src="assets/img/image2.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <div class="info-interna">
                            <p class="codigo">Cod: 7818137912</p>
                            <p class="referencia">Ref: UIL-39238230</p>
                            <p class="marca">New Balance</p>
                            <p class="nombre">Fresh Foam Arishi</p>
                            <p class="stock">Stock: 324 cajas</p>
                            <p class="precio">$730.000</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a (click)="verProducto()" class="ver-producto">
                            <span>
                                <img src="" alt="">
                            </span>
                            Ver producto
                        </a>
                        <a class="anadir-a-pedido" href="#">
                            <span>
                                <img src="" alt="">
                            </span>
                            Añadir a pedido
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row row-producto">
                    <div class="col-md-4">
                        <img src="assets/img/image1.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <div class="info-interna">
                            <p class="codigo">Cod: 7818137912</p>
                            <p class="referencia">Ref: UIL-39238230</p>
                            <p class="marca">New Balance</p>
                            <p class="nombre">Fresh Foam Arishi</p>
                            <p class="stock">Stock: 324 cajas</p>
                            <p class="precio">$730.000</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a (click)="verProducto()" class="ver-producto">
                            <span>
                                <img src="" alt="">
                            </span>
                            Ver producto
                        </a>
                        <a class="anadir-a-pedido" href="#">
                            <span>
                                <img src="" alt="">
                            </span>
                            Añadir a pedido
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row row-producto">
                    <div class="col-md-4">
                        <img src="assets/img/image2.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <div class="info-interna">
                            <p class="codigo">Cod: 7818137912</p>
                            <p class="referencia">Ref: UIL-39238230</p>
                            <p class="marca">New Balance</p>
                            <p class="nombre">Fresh Foam Arishi</p>
                            <p class="stock">Stock: 324 cajas</p>
                            <p class="precio">$730.000</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a (click)="verProducto()" class="ver-producto">
                            <span>
                                <img src="" alt="">
                            </span>
                            Ver producto
                        </a>
                        <a class="anadir-a-pedido" href="#">
                            <span>
                                <img src="" alt="">
                            </span>
                            Añadir a pedido
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>