.row-producto{
    background: white;
    padding: 2em .6em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    margin-bottom: 2em;
}

.end-content{
    align-self: flex-end;
    direction: rtl;
    position: relative;
}

.info-interna{
    padding-left: 2rem;
}

.info-interna .codigo,
.info-interna .referencia{
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 17px;
}

.info-interna .marca{
    color: #969696;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.3px;
    margin: 8px 0px;
    margin-top: 15px;
}

.info-interna .nombre{
    color: #353435;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.03px;
    line-height: 17px;
    margin-bottom: 35px;
}

.info-interna .stock{
    color: #1E2933;
    font-size: 16px;
    letter-spacing: 0.03px;
    margin: 1em 0em;
}

.info-interna .precio{
    color: #FF596A;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.05px;
}

.ver-producto{
    cursor: pointer;
    color: #919191;
    border: 1px solid #919191;
    display: flex;
    height: 45px;
    width: 200px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
}

.ver-producto:hover{
    background-color: #919191;
    color: #fff;
}
.ver-producto:active{
    background-color: #fff;
    color: #919191;
}

.anadir-a-pedido{
    color: #FF596A;
    cursor: pointer;
    border: 1px solid #FF596A;
    display: flex;
    height: 45px;
    width: 200px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.anadir-a-pedido:hover{
    background-color: #FF596A;
    color: #fff;
}
.anadir-a-pedido:active{
    background-color: #fff;
    color: #FF596A;
}
.border-rh-lft{
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.box-add{
    background-color:  #FF596A;
    padding: 2.5%;
    width: 20%;
    height: 99%;
    border-radius: 30px;
    margin-right: 10%;
    margin-left: -20%;
}
table{
    width: 100%;
}
.filtro-ordernar{
    margin-top: -1%;
    margin-right: 50%;
}
.box-ver{
    background-color: #919191;
    padding: 2.5%;
    width: 20%;
    height: 99%;
    border-radius: 30px;
    margin-right: 10%;
    margin-left: -30%;
}
.text-size-sm{
    margin-top: 1px;
    margin-left: 5px;
    font-size: 20px;
    color: #fff;
}
.icon-add{
    margin-top: 6px;
}

.no-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: #ccc;
}

.text-area{
    width: 100% !important;
}

.label-field select{
    padding: 10px !important;
}