.agregar-pregunta {
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.pregunta-dinamica{
    position: relative;
}

.pregunta-dinamica input{
    padding-right: 43px !important;
}

.btn-delete-pregunta{
    position: absolute;
    top: 0.2em;
    right: 2px;
}