<app-header breadcrumbs="Encuestas"></app-header>

<!-- Crear Encuesta. -->
<div class="overview"></div>

<app-drawer-advanced class="form-advanced" name="crear-encuesta" title="Crear encuestas" [open]="openDrawer"
(close)="openDrawerRigth(false, 'create')" (submit)="submitCrearEncuesta()">
    <div class="tabs">
        <ul>
            <li><a [class.activeclasstab]="tipo" (click)="changeTab('tipo')">Tipo de encuesta</a></li>
            <li><a [class.activeclasstab]="catalogo" (click)="changeTab('catalogo')">Elige un catálogo </a></li>
            <li><a [class.activeclasstab]="tabPreguntas" (click)="changeTab('tabPreguntas')">Preguntas</a></li>
        </ul>
    </div>
    <div class="fields">
        <form>
            <div *ngIf="tipo">
                <div class="label-field">
                    <label >Tipo de encuesta</label>
                    <select name="tipo" [(ngModel)]="createEncuesta.tipo" [ngModelOptions]="{standalone: true}">
                        <option value="satisfaccion">Satisfacción</option>
                        <option value="calidad_servicio">Calidad del servicio</option>
                        <option value="calidad_pedido">Calidad del pedido</option>
                    </select>
                </div>
            </div>

            <div *ngIf="catalogo" class="field-content">
                <div class="label-field">
                    <label >Tipo de encuesta</label>
                    <select name="tipo" [(ngModel)]="createEncuesta.tipo" [ngModelOptions]="{standalone: true}">
                        <option value="satisfaccion">Satisfacción</option>
                        <option value="calidad_servicio">Calidad del servicio</option>
                        <option value="calidad_pedido">Calidad del pedido</option>
                    </select>
                    <small *ngIf="tipoBool"><span class="text-danget">Seleccione un tipo de encuesta</span></small>
                </div>
                <div class="label-field">
                    <label >Elige un catálogo</label>
                    <select name="tipo" [(ngModel)]="createEncuesta.catalogo" [ngModelOptions]="{standalone: true}">
                        <option value=''>Seleccione...</option>
                        <option *ngFor="let catalogo of catalogos" [value]="catalogo.id_catalogo">
                            {{catalogo.titulo}}
                        </option>
                    </select>
                    <small *ngIf="catalogoBool"><span class="text-danget">Seleccione un tipo de encuesta</span></small>
                </div>
            </div>

            <div *ngIf="tabPreguntas">
                <!-- Preguntas administradas -->
                <div class="label-field" *ngFor="let pregunta of createEncuesta.preguntas; index as i;" [@fadeIn]>
                    <label for="">Pregunta No {{i + 1}}</label>
                    <div class="pregunta-dinamica">
                        <input type="text" class="" [(ngModel)]="pregunta.name" [ngModelOptions]="{standalone: true}">
                        <a mat-button matSuffix mat-icon-button aria-label="Clear" class="btn-delete-pregunta" (click)="removePregunta(i)">
                            <mat-icon>close</mat-icon>
                        </a>
                    </div>
                </div>

                <div class="agregar-pregunta">
                    <div class="box-button-light">
                        <div class="box-mas">
                            <img class="mas" src="./assets/img/mas.svg" alt="">
                        </div>
                        <a class="btn-ligth" (click)="addPregunta()"> Agregar pregunta</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-drawer-advanced>

<app-drawer-advanced class="form-advanced" name="edit-encuesta" title="Editar encuesta" [open]="updateDrawer"
(close)="openDrawerRigth(false, 'edit')" (submit)="submitEditEncuesta()" button="Actualizar">
    <div class="tabs">
        <ul>
            <li><a [class.activeclasstab]="tipo" (click)="changeTab('tipo')">Tipo de encuesta</a></li>
            <li><a [class.activeclasstab]="catalogo" (click)="changeTab('catalogo')">Elige un catálogo </a></li>
            <li><a [class.activeclasstab]="tabPreguntas" (click)="changeTab('tabPreguntas')">Preguntas</a></li>
        </ul>
    </div>
    <div class="fields">
        <form>
            <div *ngIf="tipo">
                <div class="label-field">
                    <label >Tipo de encuesta</label>
                    <select name="tipo" [(ngModel)]="selectEncuesta.tipo" [ngModelOptions]="{standalone: true}">
                        <option value="satisfaccion">Satisfacción</option>
                        <option value="calidad_servicio">Calidad del servicio</option>
                        <option value="calidad_pedido">Calidad del pedido</option>
                    </select>
                </div>
            </div>

            <div *ngIf="catalogo" class="field-content">
                <div class="label-field">
                    <label >Tipo de encuesta</label>
                    <select name="tipo" [(ngModel)]="selectEncuesta.tipo" [ngModelOptions]="{standalone: true}">
                        <option value="satisfaccion">Satisfacción</option>
                        <option value="calidad_servicio">Calidad del servicio</option>
                        <option value="calidad_pedido">Calidad del pedido</option>
                    </select>
                </div>
                <div class="label-field">
                    <label >Elige un catálogo</label>
                    <select name="tipo" [(ngModel)]="selectEncuesta.catalogo" [ngModelOptions]="{standalone: true}">
                        <option value=''>Seleccione...</option>
                        <option *ngFor="let catalogo of catalogos" [value]="catalogo.id_catalogo">
                            {{catalogo.titulo}}
                        </option>
                    </select>
                </div>
                <div class="label-field">
                    <label >Estado</label>
                    <select name="tipo" [(ngModel)]="selectEncuesta.estado" [ngModelOptions]="{standalone: true}">
                        <option value="activo">
                            Activo
                        </option>
                        <option value="inactivo">
                            Inactivo
                        </option>
                    </select>
                </div>
            </div>

            <div *ngIf="tabPreguntas">
                <!-- Preguntas administradas -->
                <div class="label-field" *ngFor="let pregunta of selectEncuesta.preguntas; index as i;" [@fadeIn]>
                    <label for="">Pregunta No {{i + 1}}</label>
                    <div class="pregunta-dinamica">
                        <input type="text" class="" [(ngModel)]="pregunta.pregunta" [ngModelOptions]="{standalone: true}">
                        <a mat-button matSuffix mat-icon-button aria-label="Clear" class="btn-delete-pregunta" (click)="deletePreguntaUpdateEn(pregunta.id_pregunta, i)">
                            <mat-icon>close</mat-icon>
                        </a>
                    </div>
                </div>

                <div class="agregar-pregunta">
                    <div class="box-button-light">
                        <div class="box-mas">
                            <img class="mas" src="./assets/img/mas.svg" alt="">
                        </div>
                        <a class="btn-ligth" (click)="addPreguntaUpdate()"> Agregar pregunta</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-drawer-advanced>


<div id="wrapper">
    <div class="opciones">
        <app-menu></app-menu>
    </div>
    <div class="contenido contenido-encuesta">

        <div class="filtros filtro-encuesta">
            <div class="box-buscador t-0 mr-3">
                <img class="lupa" src="./assets/img/search.svg" alt="">
                <input name="buscador" class="buscador"  (keyup)="filtro($event)" placeholder="Buscar..." type="text" #input>
                <button type="button" class="hidden"></button>
            </div>

            <div class="box-editar t-0" (click)="accionesEncuestas()">
                <span class="texto-editar">Acción de</span>
                <div class="icono-puntos">
                    <img src="./assets/img/edit_points.svg" alt="">
                </div>

                <ul class="acciones-encuestas">
                    <li (click)="editEncuesta()"><img src="./assets/img/editar.svg" alt=""> Editar</li>
                    <li (click)="exporter.exportTable('xlsx', {fileName:'encuestas'})"><img src="./assets/img/icons-filter/export.svg" alt=""> Exportar</li>
                </ul>
            </div>

            <div class="box-create-new t-0">
                <div class="box-mas">
                    <img class="mas" src="./assets/img/mas.svg" alt="">
                </div>
                <a (click)="openDrawerRigth(true, 'create')" class="btn-nuevo-cliente">Nueva Encuesta</a>
            </div>
        </div>


        <section class="table-data">
            <table class="ancho" mat-table [dataSource]="dataSource" matTableExporter  #exporter="matTableExporter">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let encuesta; let i = index">
                        <mat-checkbox (click)="$event.stopPropagation()"
                        (click)="selectEncuestaCheckbox(encuesta, i)"
                            (change)="$event ? selection.toggle(encuesta) : null"
                            [checked]="selection.isSelected(encuesta)"
                            [aria-label]="checkboxLabel(encuesta)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="encuesta">
                    <th mat-header-cell *matHeaderCellDef>#Encuesta</th>
                    <td (click)="detalleEncuesta(encuesta.id_form)" style="cursor: pointer;" mat-cell *matCellDef="let encuesta">{{ encuesta.codigo }}</td>
                </ng-container>
                <a-ng-container matColumnDef="fechaCreacion">
                    <th mat-header-cell *matHeaderCellDef>Fecha Creación</th>
                    <td (click)="detalleEncuesta(encuesta.id_form)" style="cursor: pointer;" mat-cell *matCellDef="let encuesta">{{ encuesta.fecha_creacion }}</td>
                </a-ng-container>
                <a-ng-container matColumnDef="catalogo">
                    <th mat-header-cell *matHeaderCellDef>Catálogo</th>
                    <td (click)="detalleEncuesta(encuesta.id_form)" style="cursor: pointer;" mat-cell *matCellDef="let encuesta">{{ encuesta.titulo }}</td>
                </a-ng-container>
                <a-ng-container matColumnDef="objetivo">
                    <th mat-header-cell *matHeaderCellDef>Objetivo</th>
                    <td (click)="detalleEncuesta(encuesta.id_form)" style="cursor: pointer;" mat-cell *matCellDef="let encuesta">{{ encuesta.tipo }}</td>
                </a-ng-container>
                <a-ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td (click)="detalleEncuesta(encuesta.id_form)" style="cursor: pointer;" mat-cell *matCellDef="let encuesta">{{ encuesta.estado | uppercase}}</td>
                </a-ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No se encuentra el dato filtrado "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator class="fijar-abajo" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
        </section>
    </div>
</div>