<app-header breadcrumbs="Realizar Pedido"></app-header>

<div id="wrapper">
    <div class="opciones">
        <app-menu></app-menu>
    </div>
    <div class="contenido">
        <div class="filtros">
        </div>
        <div class="cliente-detalle" style="padding-top: 0;">
            <div class="row" [ngClass]="{'row-show-room' : show_room}">
                <div class="col-sm-12 col-md-8 container-show-room" *ngIf="show_room">
                    <div class="row">
                        <div class="col-sm-12 cont-img-banner">
                            <img src="./assets/img/show-room-banner.png" alt="banner-show-room">
                        </div>

                        <div class="col-sm-12">
                            <div *ngIf="productos.length == 0">
                                <p class="txt-sin-disponibilidad">Ningun producto disponible.</p>
                            </div>
                            <div class="card-show-room" *ngFor="let producto of productos">
                                <div class="img-show-room">
                                    <img src="./assets/img/image1.png" alt="">
                                </div>
                                <div class="info-show-room">
                                    <p>Cod: {{producto.codigo}}</p>
                                    <p style="margin-bottom: 1em;">Ref: {{producto.referencia}}</p>

                                    <p>Puma</p>
                                    <p class="nombre-show-room">{{producto.nombre}}</p>

                                    <p class="stock-show-room">Stock: {{producto.stock}} pares</p>

                                    <p class="price-show-room">{{producto.total | currency:'COP':'symbol-narrow' :'1.0-0' }}</p>
                                </div>
                                <div class="buttons-show-room">
                                    <div class="box-create-new">
                                        <div class="box-view-show-room">
                                            <mat-icon class="icon-center">shopping_bag</mat-icon>
                                        </div>
                                        <a (click)="pedidoInterna(producto.id_producto)" class="btn-view-product-show-r">Ver producto</a>
                                    </div>
                                    <div class="box-create-new">
                                        <div class="box-shop-show-room">
                                            <mat-icon class="icon-center">visibility</mat-icon>
                                        </div>
                                        <a (click)="openDrawerRight(true, this.producto)" class="btn-shop-product-show-r">Añadir pedido</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 producto-pedido" *ngIf="!show_room">
                    <div class="col-md-12" *ngFor="let producto of productos;">
                        <div class="row row-producto">
                            <div class="col-md-5">
                                <img src="{{producto.image}}" alt="">
                            </div>
                            <div class="col-md-3">
                                <div class="info-interna">
                                    <p class="codigo">Cod: {{producto.codigo}}</p>
                                    <p class="referencia">Ref: {{producto.referencia}}</p>
                                    <p class="marca">{{producto.nombre_marca}}</p>
                                    <p class="nombre_pedido">{{producto.nombre}}</p>
                                    <p class="stock">Stock: {{producto.stock}} cajas</p>
                                    <p class="precio">{{producto.total | currency:'COP':'symbol-narrow' :'1.0-0'}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <a (click)="pedidoInterna(producto.id_producto)" class="ver-producto">
                                    <span>
                                        <img src="" alt="">
                                    </span>
                                    Ver producto
                                </a>
                                <a class="anadir-a-pedido" (click)="openDrawerRight(true, this.producto)">
                                    <span>
                                        <img src="" alt="">
                                    </span>
                                    Añadir a pedido
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4" *ngIf="!editPedido">
                    <h3 class="title-pedido">
                        Tu pedido 
                        <span>#{{pedido.codigo_pedido}}</span>
                    </h3>
    
                    <div class="detalle-pedido"  *ngFor="let buy_product of list_buy_products" (click)="editarPedido(buy_product)">
                        <div class="title-detalle">
                            <!-- <img src="http://127.0.0.1:8000/storage/catalogos/12.png" alt="catalogo"> -->
                            <p>Ref: {{buy_product.referencia}}</p>
                        </div>
                        <div class="tiendas-detalle" *ngFor="let tienda of buy_product.tiendas">
                            <p><span class="bold">{{tienda.lugar}}</span> L {{tienda.local}}</p>
                            <span>{{tienda.cantidad}}</span>
                        </div>
                    </div>
    
                    <div class="total-pedido">
                        <p>Total</p>
                        <span>{{total_pedido | currency:'COP':'symbol-narrow' :'1.0-0'}}</span>
                    </div>
                    <!-- Footer actions. -->
                    <div class="acciones">
                        <a class="agregar" (click)="openDrawerFinally(true)">
                            <span class="mas">
                                <img src="" alt="">
                            </span> Finalizar Pedido
                        </a>
                
                        <a class="cancelar">
                            <span class="mas">
                                <img src="" alt="">
                            </span> Cancelar
                        </a>
                    </div>
                </div>
    
                <div class="col-md-4" *ngIf="editPedido">
                    <h3 class="title-pedido">
                        Editar pedido
                    </h3>
    
                    <form>
                        <div class="label-field">
                            <label for="">REFERENCIA</label>
                            <input name="referencia" type="text" [(ngModel)]="selectEditPedido.referencia" class="">
                        </div>
                        <div class="label-field">
                            <label for="">TIENDAS</label>
                            <div class="input-cantidad" *ngFor="let tienda of selectEditPedido.tiendas; let i = index">
                                <p class="title"> <span class="bold">{{tienda.lugar}}</span> L {{tienda.local}}</p>
                                <a class="remove" type="button" (click)="resCantidad(i)">
                                    <mat-icon aria-hidden="false" class="icon-tienda" aria-label="Camera icon">remove</mat-icon>
                                </a>
                                <input name="cantidad{{i}}" type="text" [(ngModel)]="tienda.cantidad" class="cantidad">
                                <a class="add" type="button" (click)="sumCantidad(i, true)">
                                    <mat-icon aria-hidden="false" class="icon-tienda" aria-label="Camera icon">add</mat-icon>
                                </a>
                            </div>
                        </div>
                    </form>
    
                    <!-- Footer actions. -->
                    <div class="acciones">
                        <a class="agregar" (click)="saveEditPedido()">
                            <span class="mas">
                                <img src="" alt="">
                            </span> Actualizar producto
                        </a>
                
                        <a class="cancelar" (click)="deleteProductPedido()">
                            <span class="mas">
                                <img src="" alt="">
                            </span> Eliminar
                        </a>
                    </div>
                </div>
    
    
            </div>
        </div>

    </div>
</div>

<!-- DRAWER PARA CREAR PEDIDO. -->
<app-drawer-rigth name="add-producto" title="Agregar producto" [open]="openDrawer"
(close)="openDrawerRight(false, null)" (submit)="addProducto()">
    <form>
        <div class="label-field">
            <label for="">REFERENCIA</label>
            <input name="referencia" type="text" [(ngModel)]="producto_select.referencia" class="">
        </div>
        <div class="label-field">
            <label for="">TIENDAS</label>
            <div class="input-cantidad" *ngFor="let tienda of tiendas; let i = index">
                <p class="title"> <span class="bold">{{tienda.lugar}}</span> L {{tienda.local}}</p>
                <a class="remove" type="button" (click)="resCantidad(i)">
                    <mat-icon aria-hidden="false" class="icon-tienda" aria-label="Camera icon">remove</mat-icon>
                </a>
                <input name="cantidad{{i}}" disabled type="text" [(ngModel)]="tienda.cantidad" class="cantidad">
                <a class="add" type="button" (click)="sumCantidad(i)">
                    <mat-icon aria-hidden="false" class="icon-tienda" aria-label="Camera icon">add</mat-icon>
                </a>
            </div>
        </div>
    </form>
</app-drawer-rigth>

<!-- DRAWER PARA FINALIZAR PEDIDO -->
<app-drawer-rigth name="finalizar-pedido" title="Metodo de pago" [open]="openDrawerFinallyPed"
(close)="openDrawerFinally(false)" (submit)="finallyPedido()">
    <form>
        <div class="label-field">
            <label for="">Tipo de catálogo</label>
            <mat-button-toggle-group  [(ngModel)]="finalizar_pedido.forma_pago" name="forma_pago" aria-label="forma_pago">
                <mat-button-toggle checked="true" value="contado">Contado</mat-button-toggle>
                <mat-button-toggle value="credito">Credito 45 dias</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="label-field">
            <label for="">Descuento asignado</label>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-select name="descuento" [(ngModel)]="finalizar_pedido.descuento"  [(value)]="finalizar_pedido.descuento">
                    <mat-option *ngFor="let num of [].constructor(100); let i = index;" [value]="i">
                        {{i}}%
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="label-field">
            <label for="">Notas adicionales</label>
            <textarea name="notas" class="text-area"  [(ngModel)]="finalizar_pedido.notas">
            </textarea>
        </div>
    </form>
</app-drawer-rigth>