<div class="overview" (click)="closeDrawer()"></div>

<div class="drawer-right" [ngClass]="name">
    <div class="header-form">
        <h2>{{title}}</h2>
        <img class="close-drawer" src="assets/img/cerrar.svg" (click)="closeDrawer()" alt="">
    </div>
    <h3 class="subtitle">{{subtitle}}</h3>
    <div class="content">
        <ng-content></ng-content>
    </div>
    <div class="acciones-form-adminitrador">
        <a class="agregar" (click)="submitCatalogo()">
            <span class="mas">
                <img src="" alt="">
            </span> Agregar
        </a>

        <a class="cancelar" (click)="closeDrawer()">
            <span class="mas">
                <img src="" alt="">
            </span> Cancelar
        </a>
    </div>
</div>