<app-header></app-header>

<div id="wrapper">
    <div class="opciones">
        <app-menu></app-menu>
    </div>
    <div class="contenido">

        <div class="filtros">
            <div class="box-buscador">
                <img class="lupa" src="./assets/img/search.svg" alt="" >
                <input name="buscador" class="buscador" placeholder="buscar" (keyup)="searchTable($event)" type="text">
                <button type="button" class="hidden"></button>
            </div>

            <div class="box-editar" (click)="accionesEncuestas()">
                <span class="texto-editar">Acción de</span>
                <div class="icono-puntos">
                    <img src="./assets/img/edit_points.svg" alt="">
                </div>

                <ul class="acciones-solicitud">
                    <li (click)="editarSolicitud()">
                        <img src="./assets/img/editar.svg" alt=""> Editar
                    </li>
                    <li (click)="exporter.exportTable('xlsx', {fileName:'ampliacion_cupo'})"><img src="./assets/img/icons-filter/export.svg" alt=""> Exportar</li>
                </ul>
            </div>

            <div class="box-create-new">
                <div class="box-mas">
                    <img class="mas" src="./assets/img/mas.svg" alt="">
                </div>
                <a class="btn-nuevo-cliente"  data-toggle="modal" data-target="#crearSolicitud">Nueva Solicitud</a>
            </div>
        </div>


        <section class="table-data">
            <table mat-table [dataSource]="dataSource" matTableExporter  #exporter="matTableExporter">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let solicitud; let i = index">
                        <mat-checkbox (click)="$event.stopPropagation()"
                        (click)="checkBoxSolicitud(solicitud, i)"
                            (change)="$event ? selection.toggle(solicitud) : null"
                            [checked]="selection.isSelected(solicitud)"
                            [aria-label]="checkboxLabel(solicitud)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="solicitud">
                    <th mat-header-cell *matHeaderCellDef>#Solicitud</th>
                    <td mat-cell *matCellDef="let solicitud">{{ solicitud.codigo_solicitud }}</td>
                </ng-container>
                <ng-container matColumnDef="fecha_creacion">
                    <th mat-header-cell *matHeaderCellDef>Fecha de creación</th>
                    <td mat-cell *matCellDef="let solicitud">{{ solicitud.fecha_solicitud }}</td>
                </ng-container>
                <ng-container matColumnDef="monto">
                    <th mat-header-cell *matHeaderCellDef>Monto</th>
                    <td mat-cell *matCellDef="let solicitud">{{ solicitud.monto |currency:'COP':'symbol-narrow' :'1.0-0' }}</td>
                </ng-container>
                <ng-container matColumnDef="vendedor">
                    <th mat-header-cell *matHeaderCellDef>Vendedor</th>
                    <td mat-cell *matCellDef="let solicitud">{{ solicitud.name +' '+solicitud.apellidos }}</td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let solicitud">
                        <div *ngIf="solicitud.estado == 'pendiente'; else estado" class="txt-capitalize">
                            <a class="change-state" (click)="setChangeState(solicitud)">
                                {{solicitud.estado}}
                            </a> 
                        </div>
                        <ng-template #estado>
                                {{ solicitud.estado }}
                        </ng-template>
                    </td>
                </ng-container>
                <ng-container matColumnDef="documentos">
                    <th mat-header-cell *matHeaderCellDef>Documentos</th>
                    <td mat-cell *matCellDef="let solicitud">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                            <mat-menu #menu="matMenu">
                            <a class="txt-hover-black" target="_blank" mat-menu-item [href]="solicitud.doc_identidad">
                                Doc. Identidad
                            </a>
                            <a class="txt-hover-black" target="_blank" mat-menu-item [href]="solicitud.doc_rut">
                                RUT
                            </a>
                            <a class="txt-hover-black" target="_blank" mat-menu-item [href]="solicitud.doc_camara_com">
                                Camara comercio
                            </a>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <!-- <table class="table">
                <thead>
                    <tr class="tabla-fila-cabecera">
                        <th></th>
                        <th>
                            #Solicitud
                        </th>   
                        <th>
                            Fecha de creación
                        </th>
                        <th>
                            Monto
                        </th>
                        <th>
                            Vendedor
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Documentos
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let solicitud of solicitudes | paginate: { itemsPerPage: itemPerPage, currentPage: current }" class="tabla-fila-datos">
                        <td><input type="checkbox" (change)="checkBoxSolicitud($event, solicitud)"></td>
                        <td>#{{solicitud.codigo_solicitud}}</td>
                        <td>{{solicitud.fecha_solicitud}}</td>
                        <td>{{solicitud.monto |currency:'COP':'symbol-narrow' :'1.0-0' }}</td>
                        <td>{{solicitud.name + ' ' + solicitud.apellidos}}</td>
                        <td *ngIf="solicitud.estado != 'pendiente'" class="txt-capitalize">
                            {{solicitud.estado}}
                        </td>
                        <td *ngIf="solicitud.estado == 'pendiente'" class="txt-capitalize">
                            <a class="change-state" (click)="setChangeState(solicitud)">
                                {{solicitud.estado}}
                            </a>    
                        </td>
                        <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                                <mat-menu #menu="matMenu">
                                <a class="txt-hover-black" target="_blank" mat-menu-item [href]="solicitud.doc_identidad">
                                    Doc. Identidad
                                </a>
                                <a class="txt-hover-black" target="_blank" mat-menu-item [href]="solicitud.doc_rut">
                                    RUT
                                </a>
                                <a class="txt-hover-black" target="_blank" mat-menu-item [href]="solicitud.doc_camara_com">
                                    Camara comercio
                                </a>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table> -->
        </section>
    </div>
</div>

  <!-- Modal crear solicitud -->
<div class="modal fade" id="crearSolicitud" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <form (submit)="submitSolicitud()">
                <p class="title-solicitud">Realiza tu solicitud</p>
                <div class="label-field">
                    <label >Vendedor</label>
                    <select name="vendedor" [(ngModel)]="createSolicitud.vendedor" [ngModelOptions]="{standalone: true}">
                        <option value="">Seleccione...</option>
                        <option *ngFor="let vendedor of vendedores" [value]="vendedor.id">
                            {{vendedor.name + ' ' + vendedor.apellidos}}
                        </option>
                    </select>
                </div>
                <div class="label-field">
                    <label >cliente</label>
                    <select name="cliente" [(ngModel)]="createSolicitud.cliente" [ngModelOptions]="{standalone: true}">
                        <option value="">Seleccione...</option>
                        <option *ngFor="let cliente of clientes" [value]="cliente.id">
                            {{cliente.name + ' ' + cliente.apellidos}}
                        </option>
                    </select>
                </div>
                <div class="label-field">
                    <label >Adjuntar documento de identidad</label>
                    <div class="custom-file">
                        <input type="file" (change)="onFileChange($event,'doc_identidad', 'createSolicitud')" 
                        class="custom-file-input" id="customFileLang" lang="es" accept="image/jpeg,image/gif,image/png,application/pdf">
                        <label class="custom-file-label" for="customFileLang">{{name_files.doc_identidad}}</label>
                    </div>
                </div>
                <div class="label-field">
                    <label >Adjuntar RUT</label>
                    <div class="custom-file">
                        <input type="file" (change)="onFileChange($event,'doc_rut', 'createSolicitud')" 
                        class="custom-file-input" id="customFileLang" lang="es" accept="image/jpeg,image/gif,image/png,application/pdf">
                        <label class="custom-file-label" for="customFileLang">{{name_files.doc_rut}}</label>
                    </div>
                </div>
                <div class="label-field">
                    <label >Adjuntar cámara de comercio</label>
                    <div class="custom-file">
                        <input type="file" (change)="onFileChange($event,'doc_camara_com', 'createSolicitud')" 
                        class="custom-file-input" id="customFileLang" lang="es" accept="image/jpeg,image/gif,image/png,application/pdf">
                        <label class="custom-file-label" for="customFileLang">{{name_files.doc_camara_com}}</label>
                    </div>
                </div>
                <div class="text-ampliar-cupo">
                    <p>Por favor coloque el monto por el cual desea solicitar ampliacion de cupo</p>
                </div>
                <div class="label-field">
                    <label >monto</label>
                    <input type="text" [(ngModel)]="createSolicitud.monto" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="enviar-solicitud">
                    <div class="box-create-new">
                        <div class="box-mas">
                            <img class="mas" src="./assets/img/enviar.png" alt="">
                        </div>
                        <button type="submit" class="btn-enviar-solicitud">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

  <!-- Modal editar solicitud -->
<div class="modal fade" id="editarSolicitud" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <form (submit)="submitUpdateSolicitud()">
                <p class="title-solicitud">Editar tu solicitud</p>
                <div class="label-field">
                    <label >Vendedor</label>
                    <select name="vendedor" [(ngModel)]="editSolicitud.vendedor" [ngModelOptions]="{standalone: true}">
                        <option value="">Seleccione...</option>
                        <option *ngFor="let vendedor of vendedores" [value]="vendedor.id">
                            {{vendedor.name + ' ' + vendedor.apellidos}}
                        </option>
                    </select>
                </div>
                <div class="label-field">
                    <label >cliente</label>
                    <select name="cliente" [(ngModel)]="editSolicitud.cliente" [ngModelOptions]="{standalone: true}">
                        <option value="">Seleccione...</option>
                        <option *ngFor="let cliente of clientes" [value]="cliente.id">
                            {{cliente.name + ' ' + cliente.apellidos}}
                        </option>
                    </select>
                </div>
                <div class="label-field">
                    <label >Adjuntar documento de identidad</label>
                    <div class="custom-file">
                        <input type="file" (change)="onFileChange($event,'doc_identidad', 'editSolicitud')" 
                        class="custom-file-input" id="customFileLang" lang="es" accept="image/jpeg,image/gif,image/png,application/pdf">
                        <label class="custom-file-label" for="customFileLang">{{name_files.doc_identidad}}</label>
                    </div>
                </div>
                <div class="label-field">
                    <label >Adjuntar RUT</label>
                    <div class="custom-file">
                        <input type="file" (change)="onFileChange($event,'doc_rut', 'editSolicitud')" 
                        class="custom-file-input" id="customFileLang" lang="es" accept="image/jpeg,image/gif,image/png,application/pdf">
                        <label class="custom-file-label" for="customFileLang">{{name_files.doc_rut}}</label>
                    </div>
                </div>
                <div class="label-field">
                    <label >Adjuntar cámara de comercio</label>
                    <div class="custom-file">
                        <input type="file" (change)="onFileChange($event,'doc_camara_com', 'editSolicitud')" 
                        class="custom-file-input" id="customFileLang" lang="es" accept="image/jpeg,image/gif,image/png,application/pdf">
                        <label class="custom-file-label" for="customFileLang">{{name_files.doc_camara_com}}</label>
                    </div>
                </div>
                <div class="text-ampliar-cupo">
                    <p>Por favor coloque el monto por el cual desea solicitar ampliacion de cupo</p>
                </div>
                <div class="label-field">
                    <label >monto</label>
                    <input type="text" [(ngModel)]="editSolicitud.monto" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="enviar-solicitud">
                    <div class="box-create-new">
                        <div class="box-mas">
                            <img class="mas" src="./assets/img/enviar.png" alt="">
                        </div>
                        <button type="submit" class="btn-enviar-solicitud">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

  <!-- Modal editar solicitud -->
<div class="modal fade" id="changeState" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <form (submit)="changeState()">
                <p class="title-solicitud">Cambiar estado</p>
                <div class="label-field">
                    <label >estado</label>
                    <select name="estado" [(ngModel)]="selectChangeState.estado" [ngModelOptions]="{standalone: true}">
                        <option value="">Seleccione...</option>
                        <option value="pendiente">Pendiente</option>
                        <option value="aceptado">Aceptado</option>
                        <option value="rechazado">Rechazado</option>
                    </select>
                </div>
            
                <div class="enviar-solicitud">
                    <div class="box-create-new">
                        <div class="box-mas">
                            <img class="mas" src="./assets/img/enviar.png" alt="">
                        </div>
                        <button type="submit" class="btn-enviar-solicitud">Cambiar</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

<!-- <div class="footer">
    <div class="footer-paginate">
        <div class="pagination">
            <pagination-controls (pageChange)="current = $event" previousLabel="" nextLabel="" responsive="true"></pagination-controls>
        </div>
        <div class="label-field label-field-paginate">
            <select name="changeNumberPage" (change)="changeListPagination($event)" id="changeNumberPage" class="select-paginate">
                <option [value]="5"> 5 Por página </option>
                <option [value]="10"> 10 Por página </option>
                <option [value]="15"> 15 Por página </option>
                <option [value]="20"> 20 Por página </option>
                <option [value]="30"> 30 Por página </option>
            </select>
        </div>   
    </div>
</div> -->