<div class="overpedido">
    <div class="pop-up-pedido">
        <div class="bar-close">
            <button (click)="closeDialog()" mat-icon-button aria-label="Menu opciones">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <h2>Comienza tu pedido</h2>

        <div class="label-field">
            <label >Cliente</label>
            <select name="cliente" id="" [(ngModel)]="crear_pedido.cliente">
                <option value="">Seleccione...</option>
                <option *ngFor="let cliente of clientes" [value]="cliente.id">
                    {{cliente.name + ' ' + cliente.apellidos}}
                </option>
            </select>
        </div>

        <div class="label-field">
            <label >Vendedor</label>
            <select name="vendedor" id="" [(ngModel)]="crear_pedido.vendedor">
                <option value="">Seleccione...</option>
                <option *ngFor="let vendedor of vendedores" [value]="vendedor.id">
                    {{vendedor.name + ' ' + vendedor.apellidos}}
                </option>
            </select>
        </div>

        <div class="label-field" *ngIf="id_catalogo == 0">
            <label >Catálogo</label>
            <select name="catalogo" id="" [(ngModel)]="crear_pedido.catalogo">
                <option value="">-</option>
                <option *ngFor="let catalogo of catalogos" [value]="catalogo.id_catalogo">
                    {{catalogo.titulo}}
                </option>
            </select>
        </div>

        <div class="label-field">
            <a class="continuar-pedido" (click)="continuarPedido()">
                Continuar
            </a>
        </div>
    </div>
</div>
