<app-header></app-header>
<app-dialog-pedido [id_catalogo]="producto.catalogo" [id_producto]="producto.id_producto"></app-dialog-pedido>

<div class="workplace">
    <div class="slide-menu">
        <app-menu></app-menu>
    </div>
    <div class="area">
        <!-- <router-outlet></router-outlet> -->
        <div class="row">
            <div class="filtros" style="margin-bottom: 15px;">
                <div  (click)="accionesAdministrador()" style="height: 31px;" class="box-editar">
                    <!-- <div class="icono-editar">
                        <img src="{{ templateImage.lapiz }}" alt="">
                    </div> -->
                    <p class="texto-editar">Acción de</p>
                    <div class="icono-puntos">
                        <img src="assets/img/edit_points.svg" alt="">
                    </div>
    
                    <ul class="acciones-administrador">
                        <li (click)="openDrawerRigth(true, 'edit')">
                            <img src="assets/img/editar.svg" alt=""> Editar
                        </li>
                        <li (click)="deleteProduct()"><img src="assets/img/icons-filter/trash.svg" alt=""> Eliminar</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="content-gallery">
                    <!-- <img src="{{producto.destacada}}" alt=""> -->
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
                </div>

                <div class="detalle">
                    <h2 class="title-detalle">Detalles</h2>
                    <ul>
                        <li>Sistema de amarre de cordones</li>
                        <li>Exterior tejido con refuerzos de TPU</li>
                        <li>Diseño ajustado y elástico</li>
                        <li>Mediasuela receptiva Boost</li>
                        <li>Suela de caucho</li>
                        <li>Tenis urbanos icónicos</li>
                        <li>Color del artículo: Core Black</li>
                    </ul>
                </div>

                <div class="opiniones">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="valoracion-column pad-30">
                                <h3 class="valorar-title">Valorar producto</h3>
                                <ul class="qya-list">
    
                                    <li>
                                        ¿Calidad en el servicio por parte del ejecutivo comercial?
                                        <div class="strellas-valoracion">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
    
                                    <li>
                                        ¿Calidad del producto?
                                        <div class="strellas-valoracion">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
    
                                    <li>
                                        ¿Calidad en el servicio por parte del área de cartera/ conciliación de la misma?
                                        <div class="strellas-valoracion">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
    
                                    <li>
                                        ¿Diseño de tendencias?
                                        <div class="strellas-valoracion">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
    
                                    <li>
                                        ¿Recomendaría nuestro producto?
                                        <div class="strellas-valoracion">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
    
                                    <li>
                                        ¿Tiempos de entrega?
                                        <div class="strellas-valoracion">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
    
                                    <li>
                                        ¿Empaque del producto?
                                        <div class="strellas-valoracion">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                            <img src="assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="valoraciones-column">
                                <h3 class="valoraciones-title">Otras valoraciones</h3>
                                <small class="total-comentarios">12 comentarios</small>

                                <div class="user-feedback">
                                    <p>Excelentes zapatillas</p>
                                    <div class="strellas-valoracio">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-off.svg" alt="">
                                    </div>
                                </div>

                                <div class="user-feedback">
                                    <p>Excelentes zapatillas</p>
                                    <div class="strellas-valoracio">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                    </div>
                                </div>

                                <div class="user-feedback">
                                    <p>Excelentes zapatillas</p>
                                    <div class="strellas-valoracio">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                    </div>
                                </div>

                                <div class="user-feedback">
                                    <p>Excelentes zapatillas</p>
                                    <div class="strellas-valoracio">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                        <img src="assets/img/start-on.svg" alt="">
                                    </div>
                                </div>
                                <a href="#" class="ver-valoraciones">
                                    Ver más
                                </a>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="aside-detalle-producto">
                    <h2 class="nombre">{{producto.nombre}}</h2>
                    <p class="marca">{{producto.nombre_marca}}</p>
                    <p class="precio-descuento">{{producto.total  |currency:'COP':'symbol-narrow' :'1.0-0'}}</p>
                    <!-- <p class="precio-normal"></p> -->

                    <p class="codigo">Código</p>
                    <p class="numero-codigo">{{producto.codigo}}</p>

                    <p class="referencia">Referencia</p>
                    <p class="numero-referencia">{{producto.referencia}}</p>

                    <p class="stock">Stock</p>
                    <p class="numero-stock">{{producto.stock}} cajas</p>

                    <!-- Footer actions. -->
                    <div class="acciones">
                        <a class="agregar" (click)="openDialogPedido()">
                            <span class="mas">
                                <img src="" alt="">
                            </span> Agregar Pedido
                        </a>
                
                        <a class="cancelar">
                            <span class="mas">
                                <img src="" alt="">
                            </span> Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- DRAWER EDITAR PRODUCTO. -->
        <app-drawer-rigth name="edit-producto" title="Editar producto" [open]="openDrawer"
        (close)="openDrawerRigth(false, 'edit')" (submit)="submitEditProduct()">
            <form>
                <div class="label-field">
                    <label for="">Nombres</label>
                    <input [(ngModel)]="producto.nombre" name="nombre" type="text" class="">
                </div>
                <div class="label-field">
                    <label for="">Código</label>
                    <input [(ngModel)]="producto.codigo" name="codigo" type="text" class="">
                </div>
                <div class="label-field">
                    <label for="">Referencia</label>
                    <input [(ngModel)]="producto.referencia" name="referencia" type="text" class="">
                </div>
                <div class="label-field">
                    <label for="">Stock</label>
                    <input [(ngModel)]="producto.stock" name="stock" type="number" class="">
                </div>
                <div class="label-field">
                    <label for="">Marca</label>
                    <input [(ngModel)]="producto.marca" name="marca" type="text" class="">
                </div>
                <div class="label-field">
                    <label for="">Precio</label>
                    <input [(ngModel)]="producto.precio" name="precio" type="number" class="">
                </div>
                <div class="label-field">
                    <label for="">Descripción</label>
                    <textarea [(ngModel)]="producto.descripcion" name="descripcion" class="text-area">
                    </textarea>
                </div>

                <div class="label-field" style="display: flex;">
                    <div class="col-md-6">   
                        <label for="">Imagen destacada</label>
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false"
                            (change)="onSelect($event, false, 'files_1')">
                            <ngx-dropzone-label>
                                <div>
                                    <mat-icon aria-hidden="false" aria-label="Camera icon" style="font-size: 50px;">photo_camera</mat-icon>
                                    <h6>Suelta los archivos aquí o haz clic para subirlos...</h6>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files_1"
                                [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="">Imagen destacada</label>
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false"
                            (change)="onSelect($event, false, 'files_2')">
                            <ngx-dropzone-label>
                                <div>
                                    <mat-icon aria-hidden="false" aria-label="Camera icon" style="font-size: 50px;">photo_camera</mat-icon>
                                    <h6>Suelta los archivos aquí o haz clic para subirlos...</h6>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files_2"
                                [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                    </div>
                </div>

                <div class="label-field" style="display: flex;">
                    <div class="col-md-6">
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false"
                            (change)="onSelect($event, false, 'files_3')">
                            <ngx-dropzone-label>
                                <div>
                                    <mat-icon aria-hidden="false" aria-label="Camera icon" style="font-size: 50px;">photo_camera</mat-icon>
                                    <h6>Suelta los archivos aquí o haz clic para subirlos...</h6>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files_3"
                                [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false"
                            (change)="onSelect($event, false, 'files_4')">
                            <ngx-dropzone-label>
                                <div>
                                    <mat-icon aria-hidden="false" aria-label="Camera icon" style="font-size: 50px;">photo_camera</mat-icon>
                                    <h6>Suelta los archivos aquí o haz clic para subirlos...</h6>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files_4"
                                [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                    </div>
                </div>

                <div class="label-field" style="display: flex;">
                    <div class="col-md-6">
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false"
                            (change)="onSelect($event, false, 'files_5')">
                            <ngx-dropzone-label>
                                <div>
                                    <mat-icon aria-hidden="false" aria-label="Camera icon" style="font-size: 50px;">photo_camera</mat-icon>
                                    <h6>Suelta los archivos aquí o haz clic para subirlos...</h6>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files_5"
                                [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false"
                            (change)="onSelect($event, false, 'files_6')">
                            <ngx-dropzone-label>
                                <div>
                                    <mat-icon aria-hidden="false" aria-label="Camera icon" style="font-size: 50px;">photo_camera</mat-icon>
                                    <h6>Suelta los archivos aquí o haz clic para subirlos...</h6>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files_6"
                                [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                    </div>
                </div>
            </form>
        </app-drawer-rigth>
    </div>
</div>