.detalle{
    padding: 1.5em .6em;
    margin-bottom: 2em;
    background: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
    border-radius: 13px;
}

.detalle h2{
    margin: 1em 0em;
    font-size: 24px;
    text-transform: uppercase;
}

.detalle ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
    margin-left: 15px;
}

.detalle ul li{
    margin: .4em 0em;
    width: 30%;
}

.qya-list{
    list-style: decimal;
}

.qya-list li{
    font-weight: bold;
    margin: 1em 0em;
    margin-left: 15px;
}

.qya-list .strellas-valoracion{
    margin-top: 10px;
}

.valorar-title,
.valoraciones-title{
    font-size: 24px;
    font-weight: bold;
}

.total-comentarios{
    color: #969696;
    font-size: 16px;
    display: block;
    margin-bottom: 2em;
}

.valoraciones-column{
    position: relative;
}

.user-feedback{
    margin: 1em 0em;
}

.user-feedback p{
    font-weight: bold;
    margin-bottom: 5px;
}

.ver-valoraciones{
    background: #FF596A;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
    text-align: center;
    width: 135px;
    border-radius: 25px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.aside-detalle-producto{}

.aside-detalle-producto .nombre{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.aside-detalle-producto .marca{
    color: #969696;
    text-transform: uppercase;
    font-size: 16px;
}
.aside-detalle-producto .precio-descuento{
    font-size: 26px;
    color: #FF596A;
    margin-top: 28px;
    font-weight: bold;
}

.aside-detalle-producto .precio-normal{
    color: #919191;
    margin-left: 40px;
}

.aside-detalle-producto .codigo,
.aside-detalle-producto .referencia,
.aside-detalle-producto .stock{
    color: #969696;
    font-size: 16px;
    margin-top: 1.5em;
}

.aside-detalle-producto .numero-codigo,
.aside-detalle-producto .numero-referencia,
.aside-detalle-producto .numero-stock{
    color: #1E2933;
    font-size: 21px;
    font-weight: bold;
}

.opiniones .valoracion-column,
.opiniones .valoraciones-column{
    border-radius: 13px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
}

.opiniones .valoraciones-column{
    height: 487px;
}