
.pad-30{ padding: 30px;}

.valoraciones-column{
    padding: 30px;
    position: relative;
}

.detalle{
    padding: 1.5em .6em;
    margin-bottom: 2em;
    background: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
    border-radius: 13px;
}

.detalle h2{
    margin: 1em 0em;
    font-size: 24px;
    text-transform: uppercase;
}

.detalle ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
    margin-left: 15px;
}

.detalle ul li{
    margin: .4em 0em;
    width: 30%;
}

.qya-list{
    list-style: decimal;
}

.qya-list li{
    font-weight: bold;
    margin: 1em 0em;
    margin-left: 15px;
}

.qya-list .strellas-valoracion{
    margin-top: 10px;
}

.valorar-title,
.valoraciones-title{
    font-size: 24px;
    font-weight: bold;
}

.total-comentarios{
    color: #969696;
    font-size: 16px;
    display: block;
    margin-bottom: 2em;
}

.valoraciones-column{
    position: relative;
}

.user-feedback{
    margin: 1em 0em;
}

.user-feedback p{
    font-weight: bold;
    margin-bottom: 5px;
}

.ver-valoraciones{
    background: #FF596A;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
    text-align: center;
    width: 135px;
    border-radius: 25px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.aside-detalle-producto{
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .2);
    padding: 50px 30px;
    position: relative;
}

.aside-detalle-producto .nombre{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.aside-detalle-producto .marca{
    color: #969696;
    text-transform: uppercase;
    font-size: 16px;
}
.aside-detalle-producto .precio-descuento{
    font-size: 26px;
    color: #FF596A;
    margin-top: 28px;
    font-weight: bold;
}

.aside-detalle-producto .precio-normal{
    color: #919191;
    margin-left: 40px;
}

.aside-detalle-producto .codigo,
.aside-detalle-producto .referencia,
.aside-detalle-producto .stock{
    color: #969696;
    font-size: 16px;
    margin-top: 1.5em;
}

.aside-detalle-producto .numero-codigo,
.aside-detalle-producto .numero-referencia,
.aside-detalle-producto .numero-stock{
    color: #1E2933;
    font-size: 21px;
    font-weight: bold;
}

.opiniones .valoracion-column,
.opiniones .valoraciones-column{
    border-radius: 13px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
}

.opiniones .valoraciones-column{
    height: 487px;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }

.content-gallery{
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* BOTON ACCIONES PARA EDITAR, ELIMINAR, ETC. */

.box-editar {
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
}

.box-editar-open {
    border-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    background: white;
    opacity: 1;
}

.acciones-administrador {
    display: none;
    position: absolute;
    top: 30px;
    list-style: none;
    opacity: 0;
    background: white;
    /* width: 101%; */
    left: -1px;
    right: -1px;
    transition: all .3s ease;
    text-align: center;
}

.acciones-administrador li {
    color: #959BA0;
    margin: 8px 0px;
    position: relative;
}

.acciones-administrador li img {
    position: absolute;
    left: 8px;
    top: 3px;
}

.open-acciones {
    display: block;
    opacity: 1;
    border-left: 1px solid #FF596A;
    border-right: 1px solid #FF596A;
    border-bottom: 1px solid #FF596A;
    padding: 0px -6px;
    border-radius: 0px 0px 15px 15px;
    opacity: 1;
    z-index: 1000;
}
