
.pad-30{ padding: 30px;}

.valoraciones-column{
    padding: 30px;
    position: relative;
}

.detalle{
    padding: 1.5em .6em;
    margin-bottom: 2em;
    background: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
    border-radius: 13px;
}

.detalle h2{
    margin: 1em 0em;
    font-size: 24px;
    text-transform: uppercase;
}

.puntero{
    cursor: pointer;
}
.bullet-rojo{
    list-style: none; /* Quitamos los marcadores */
    padding: 0; /* Quitamos el padding por defecto de la lista */
    margin-left: 10px; /* Separamos la lista de la izquierda */
}
.bullet-rojo > li::before {
    content: "\2022";
    padding-right: 3px;
    color: red;
    font-size: 25px;
}
.box-mas{
    background-image: linear-gradient(180deg, #2fb863 0%, #2ca85b 100%);
    margin-top: -8%;
    margin-left: 16%;
}
.example-table-container{
  position: relative;
  margin-left: -5%;
  width: 110%;
  height: 90%;
  overflow: auto;
}
table{
    width: 100%;
}
.btn-fijo-agregar{
    position: fixed !important;
    top: 35.5rem;
    left: 61rem;
    width: 23%;
}

.acciones{
    align-self: flex-end;
    direction: rtl;
    position: relative;
}
.icono-mas{
    top: 16px;
    left: -29px;
}
.no-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: #ccc;
}
.btn-agregar{
    border-radius: 30px;
    display: flex;
    width: 80%;
    background-color: #2fb863;
    color: #fff;
}

.detalle ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
    margin-left: 15px;
}

.detalle ul li{
    margin: .4em 0em;
    width: 30%;
}

.qya-list{
    list-style: decimal;
}

.qya-list li{
    font-weight: bold;
    margin: 1em 0em;
    margin-left: 15px;
}

.qya-list .strellas-valoracion{
    margin-top: 10px;
}

.valorar-title,
.valoraciones-title{
    font-size: 24px;
    font-weight: bold;
}

.total-comentarios{
    color: #969696;
    font-size: 16px;
    display: block;
    margin-bottom: 2em;
}

.valoraciones-column{
    position: relative;
}

.user-feedback{
    margin: 1em 0em;
}

.user-feedback p{
    font-weight: bold;
    margin-bottom: 5px;
}

.ver-valoraciones{
    background: #FF596A;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
    text-align: center;
    width: 135px;
    border-radius: 25px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.aside-detalle-producto{
    width: 100%;
    height: 74rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .2);
    padding: 50px 30px;
    position: relative;
}

.aside-detalle-producto .nombre{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.aside-detalle-producto .marca{
    color: #969696;
    text-transform: uppercase;
    font-size: 16px;
}
.aside-detalle-producto .precio-descuento{
    font-size: 26px;
    color: #FF596A;
    margin-top: 28px;
    font-weight: bold;
}

.aside-detalle-producto .precio-normal{
    color: #919191;
    margin-left: 40px;
}

.aside-detalle-producto .codigo,
.aside-detalle-producto .referencia,
.aside-detalle-producto .stock{
    color: #969696;
    font-size: 16px;
    margin-top: 1.5em;
}

.aside-detalle-producto .numero-codigo,
.aside-detalle-producto .numero-referencia,
.aside-detalle-producto .numero-stock{
    color: #1E2933;
    font-size: 21px;
    font-weight: bold;
}

.opiniones .valoracion-column,
.opiniones .valoraciones-column{
    border-radius: 13px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
}

.opiniones .valoraciones-column{
    height: 487px;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }

.content-gallery{
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.star-active{
    color: #ff9017;
    font-size: 22px;
    margin-right: 8px;
    cursor: pointer;
}

.star-inactive{
    color: #e4e4e4;
    font-size: 22px;
    margin-right: 8px;
    cursor: pointer;
}


.calificar{
    text-align: center;
    border-radius: 15px;
    display: block;
    text-decoration: none;
    width: 45%;
}
.disabled{
    background-color: #ce9898 !important;
}

.calificar {
    background: #FF596A;
    padding: 6px 0px;
    color: white;
    transition: all .5s ease;
}

.calificar:hover {
    background: #da4e5c;
}
.sin-notas{
    text-align: center;
    position: relative;
    left: 0;
    bottom: 1rem;
}
.sin-notas p{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #e5e5e5;
}

@media screen and (min-width: 1920px) {

    .btn-fijo-agregar{
        top: 63rem;
        left: 86rem;
    }
}
