<app-header></app-header>

<div class="workplace">
    <div class="slide-menu">
        <app-menu></app-menu>
    </div>
    <div class="area">
        <!-- <router-outlet></router-outlet> -->
        <div class="row">
            <div class="col-md-9">
                <div>
                    <img src="/N-1009/assets/img/producto-interna.png" alt="">
                </div>

                <div class="detalle">
                    <h2 class="title-detalle">Detalles</h2>
                    <ul>
                        <li>Sistema de amarre de cordones</li>
                        <li>Exterior tejido con refuerzos de TPU</li>
                        <li>Diseño ajustado y elástico</li>
                        <li>Mediasuela receptiva Boost</li>
                        <li>Suela de caucho</li>
                        <li>Tenis urbanos icónicos</li>
                        <li>Color del artículo: Core Black</li>
                    </ul>
                </div>

                <div class="opiniones">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="valoracion-column">
                                <h3 class="valorar-title">Valorar producto</h3>
                                <ul class="qya-list">
    
                                    <li>
                                        ¿Calidad en el servicio por parte del ejecutivo comercial?
                                        <div class="strellas-valoracion">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
    
                                    <li>
                                        ¿Calidad del producto?
                                        <div class="strellas-valoracion">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
    
                                    <li>
                                        ¿Calidad en el servicio por parte del área de cartera/ conciliación de la misma?
                                        <div class="strellas-valoracion">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
    
                                    <li>
                                        ¿Diseño de tendencias?
                                        <div class="strellas-valoracion">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
    
                                    <li>
                                        ¿Recomendaría nuestro producto?
                                        <div class="strellas-valoracion">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
    
                                    <li>
                                        ¿Tiempos de entrega?
                                        <div class="strellas-valoracion">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
    
                                    <li>
                                        ¿Empaque del producto?
                                        <div class="strellas-valoracion">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                            <img src="/N-1009/assets/img/start-off.svg" alt="">
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="valoraciones-column">
                                <h3 class="valoraciones-title">Otras valoraciones</h3>
                                <small class="total-comentarios">12 comentarios</small>

                                <div class="user-feedback">
                                    <p>Excelentes zapatillas</p>
                                    <div class="strellas-valoracio">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-off.svg" alt="">
                                    </div>
                                </div>

                                <div class="user-feedback">
                                    <p>Excelentes zapatillas</p>
                                    <div class="strellas-valoracio">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                    </div>
                                </div>

                                <div class="user-feedback">
                                    <p>Excelentes zapatillas</p>
                                    <div class="strellas-valoracio">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                    </div>
                                </div>

                                <div class="user-feedback">
                                    <p>Excelentes zapatillas</p>
                                    <div class="strellas-valoracio">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                        <img src="/N-1009/assets/img/start-on.svg" alt="">
                                    </div>
                                </div>
                            </div>

                            <a href="#" class="ver-valoraciones">
                                Ver más
                            </a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="aside-detalle-producto">
                    <h2 class="nombre">Tenis Puma Hombre Moda BMW Roma</h2>
                    <p class="marca">Puma</p>
                    <p class="precio-descuento">$730.000</p>
                    <p class="precio-normal">$970.000</p>

                    <p class="codigo">Código</p>
                    <p class="numero-codigo">7818137912</p>

                    <p class="referencia">Referencia</p>
                    <p class="numero-referencia">IL-238471236123</p>

                    <p class="stock">Stock</p>
                    <p class="numero-stock">343 cajas</p>
                </div>
            </div>
        </div>
    </div>
</div>