.nuevo-administrador,
.editar-administrador {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, .2);
    width: 423px;
    position: fixed;
    right: 0%;
    z-index: 10;
    top: 0;
    background: white;
    height: 100vh;
    transition: all .5s ease;
    transform: translateX(100%);
    z-index: 510;
}

.overview,
.overview2 {
    background: rgba(0, 0, 0, .4);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
}

.pagination /deep/ .ngx-pagination .current {
    background: #FF596A !important;
    border-radius: 5px;
}


/* 
.loading-text {
    top: 85% !important;
} */

.header-form {
    display: flex;
    color: #323E4A;
    justify-content: space-between;
    background: #F6FBFF;
    padding: 15px 20px;
    letter-spacing: 0.54px;
}

.nuevo-administrador h2,
.editar-administrador h2 {
    font-size: 19px;
    padding: 0px;
}

.cerrar-form-admin {
    cursor: pointer;
}

.open {
    transform: translateX(0%);
}

.datos-generales {
    padding: 0px 20px;
    color: #323E4A;
    margin-top: 15px;
    margin-bottom: 22px;
    letter-spacing: 0.54px;
}

.label-field {
    padding: 0px 20px;
    margin-bottom: 16px;
}

.label-field label,
.label-field input {
    display: block;
    width: 100%;
}

.label-field label {
    font-size: 14px;
    color: #FF596A;
    margin-bottom: 5px;
}

.label-field input {
    border: 1px solid #D7D7D7;
    border-radius: 6px;
    padding: 10px;
}

.acciones-form-adminitrador {
    display: flex;
    position: fixed;
    bottom: 50px;
    padding: 0px 20px;
    justify-content: space-around;
    width: 100%;
}

.agregar,
.cancelar {
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    display: block;
    text-decoration: none;
    width: 45%;
}

.agregar {
    background: #FF596A;
    padding: 6px 0px;
    color: white;
    transition: all .5s ease;
}

.agregar:hover {
    background: #da4e5c;
}

.cancelar {
    background: white;
    border: 1px solid #FF596A;
    color: #FF596A;
    padding: 6px 0px;
    transition: all .5s ease;
}

.cancelar:hover {
    background: #ec5362;
    color: white;
}

.box-editar {
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
}

.box-editar-open {
    border-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    background: white;
    opacity: 1;
}

.acciones-administrador {
    display: none;
    position: absolute;
    top: 30px;
    list-style: none;
    opacity: 0;
    background: white;
    width: 101%;
    left: -1px;
    transition: all .3s ease;
    text-align: center;
}

.acciones-administrador li {
    color: #959BA0;
    margin: 8px 0px;
    position: relative;
}

.acciones-administrador li img {
    position: absolute;
    left: 8px;
    top: 3px;
}

.open-acciones {
    display: block;
    opacity: 1;
    border-left: 1px solid #FF596A;
    border-right: 1px solid #FF596A;
    border-bottom: 1px solid #FF596A;
    padding: 0px -6px;
    border-radius: 0px 0px 15px 15px;
    opacity: 1;
}


/* desahabilitar enlaces en la creación de usuarios */

.disabled:disabled {}