<app-header></app-header>

<div id="wrapper">
    <div class="opciones">
        <app-menu></app-menu>
    </div>
    <div class="contenido">

        <div class="filtros">
            <div class="box-editar">
                <!-- <div class="icono-editar">
                    <img src="{{ templateImage.lapiz }}" alt="">
                </div> -->
                <p class="texto-editar">Acción de</p>
                <div class="icono-puntos">
                    <img src="assets/img/edit_points.svg" alt="">
                </div>

                <ul class="acciones-administrador">
                    <li><img src="assets/img/editar.svg" alt=""> Editar</li>
                    <li><img src="assets/img/icons-filter/export.svg" alt=""> Exportar</li>
                    <li><img src="assets/img/icons-filter/trash.svg" alt=""> Eliminar</li>
                </ul>
            </div>
        </div>

        <div class="content-encuesta">
            <div class="title">
                <h3>Encuesta de satisfacción - Primavera 2020</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- https://valor-software.com/ng2-charts/#/BarChart -->
                    <div class="personal-card">
                        <div style="display: block">
                            <canvas baseChart
                              [data]="doughnutChartData"
                              [labels]="doughnutChartLabels"
                              [chartType]="doughnutChartType">
                            </canvas>
                            <div class="txt-encuesta">
                                <span class="porcentaje">{{porcentaje_usuarios}}%</span>
                                <p>de los compradores a diligenciado la encuesta</p>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="personal-card">
                        <div style="display: block">
                            <canvas baseChart
                              [datasets]="barChartData"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [legend]="barChartLegend"
                              [chartType]="barChartType">
                            </canvas>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="personal-card">
                        <div class="detalle-pregunta" *ngFor="let pregunta of preguntas; index as i">
                            <div class="description-preg">
                                <p  class="title-detalle-preg" style="color: #444a4f;">Pregunta No.{{i + 1}}</p>
                                {{pregunta.pregunta}}
                            </div>
                            <div class="calification-preg">
                                <p  class="title-detalle-preg" style="color: #707579;">{{(!pregunta.cant_respuestas) ? 0 : pregunta.cant_respuestas}} Respuestas</p>
                                <mat-icon [ngClass]="{
                                    'star-active' : pregunta.promedio >= 1, 
                                    'star-inactive' : pregunta.promedio < 1,
                                    'star-inactive-promedio' : !pregunta.promedio }"
                                > star </mat-icon>
                                <mat-icon [ngClass]="{
                                    'star-active' : pregunta.promedio >= 2, 
                                    'star-inactive' : pregunta.promedio < 2,
                                    'star-inactive-promedio' : !pregunta.promedio}"
                                > star </mat-icon>
                                <mat-icon [ngClass]="{
                                    'star-active' : pregunta.promedio >= 3, 
                                    'star-inactive' : pregunta.promedio < 3,
                                    'star-inactive-promedio' : !pregunta.promedio}"
                                > star </mat-icon>
                                <mat-icon [ngClass]="{
                                    'star-active' : pregunta.promedio >= 4, 
                                    'star-inactive' : pregunta.promedio < 4,
                                    'star-inactive-promedio' : !pregunta.promedio}"
                                > star </mat-icon>
                                <mat-icon [ngClass]="{
                                    'star-active' : pregunta.promedio >= 5, 
                                    'star-inactive' : pregunta.promedio < 5,
                                    'star-inactive-promedio' : !pregunta.promedio}"
                                > star </mat-icon>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>