<app-header breadcrumbs="Dashboard"></app-header>
<div id="wrapper">
    <div class="opciones">
        <app-menu></app-menu>
    </div>
    <div class="contenido contenido-dashboard">
        <div class="row">
            <div class="col-md-6 mb-3">
                <app-grafico-bar 
                [chartLabels]="labels"
                [chartData]="data"
                [colores]="colors"></app-grafico-bar>
            </div>
            <div class="col-md-6 mb-3">
                <app-grafico-bar 
                [chartLabels]="labels1"
                [chartData]="data1"
                [colores]="colorsBarra"></app-grafico-bar>
            </div>
        </div>
        <div class="row contenedor-tabla">
            <div class="col-md-6 mb-3">
                <table mat-table [dataSource]="dataSource" style="width: 100%;">
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let cliente">{{cliente.name+' '+cliente.apellidos}}</td>
                    </ng-container>
                    <ng-container matColumnDef="dni">
                        <th mat-header-cell *matHeaderCellDef>Dni</th>
                        <td mat-cell *matCellDef="let cliente">{{cliente.dni}}</td>
                    </ng-container>
                    <ng-container matColumnDef="correo">
                        <th mat-header-cell *matHeaderCellDef>Correo eléctronico</th>
                        <td mat-cell *matCellDef="let cliente">{{cliente.email}}</td>
                    </ng-container>
                    <ng-container matColumnDef="pedidos">
                        <th mat-header-cell *matHeaderCellDef>Pedidos</th>
                        <td mat-cell *matCellDef="let cliente"><button class="btn-link btn-generar-datos" (click)="getPedido(cliente.pedidos)">{{cliente.pedidos.length}}</button></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr mat-row *matRowDef="let row; columns:columns;"></tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <div class="col-md-6 mb-3">
            <div class="table-container">
                <table mat-table [dataSource]="pedidosTabla" style="width: 100%;">
                    <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef>Código</th>
                        <td mat-cell *matCellDef="let pedido">{{pedido.codigo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef>Fecha</th>
                        <td mat-cell *matCellDef="let pedido">{{pedido.fecha}}</td>
                    </ng-container>
                    <ng-container matColumnDef="medio_pago">
                        <th mat-header-cell *matHeaderCellDef>Medio de pago</th>
                        <td mat-cell *matCellDef="let pedido" class="text-capitalize">{{pedido.metodo_pago}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsPedidos"></tr>
                    <tr mat-row *matRowDef="let row; columns:columnsPedidos;"></tr>
                </table>
            </div>
            </div>
        </div>
        <div class="row contenedor-tabla">
            <div class="col-md-6">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle id="btn_all" (click)="filtro($event, 'all', 'btn_all')">Todos</mat-button-toggle>
                    <mat-button-toggle id="btn_ninos" (click)="filtro($event, 'niños', 'btn_ninos')">Niños</mat-button-toggle>
                    <mat-button-toggle id="btn_adultos" (click)="filtro($event, 'adultos', 'btn_adultos')">Adultos</mat-button-toggle>
                  </mat-button-toggle-group>
                <table mat-table [dataSource]="catalogoTabla" style="width: 100%;">
                    <ng-container matColumnDef="titulo">
                        <th mat-header-cell *matHeaderCellDef>Título</th>
                        <td mat-cell *matCellDef="let catalogo">{{catalogo.titulo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef>Tipo</th>
                        <td mat-cell *matCellDef="let catalogo">{{catalogo.tipo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef>Estado</th>
                        <td mat-cell *matCellDef="let catalogo">{{catalogo.estado}}</td>
                    </ng-container>
                    <ng-container matColumnDef="categoria">
                        <th mat-header-cell *matHeaderCellDef>Categoría</th>
                        <td mat-cell *matCellDef="let catalogo">{{catalogo.etiqueta}}</td>
                    </ng-container>
                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                        <td mat-cell *matCellDef="let catalogo"><button (click)="getProducts(catalogo.id_catalogo)" class="btn-link btn-generar-datos">{{catalogo.cantidad}}</button></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsCatalogos"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsCatalogos"></tr>
                </table>
                <mat-paginator #paginatorCatalogo [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <div class="col-md-6">
                <div class="table-container">
                    <table mat-table [dataSource]="productosTabla" style="width: 100%;">
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef>Código</th>
                            <td mat-cell *matCellDef="let producto">{{producto.codigo}}</td>
                        </ng-container>
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef>Nombre</th>
                            <td mat-cell *matCellDef="let producto">{{producto.nombre}}</td>
                        </ng-container>
                        <ng-container matColumnDef="marca">
                            <th mat-header-cell *matHeaderCellDef>Marca</th>
                            <td mat-cell *matCellDef="let producto">{{producto.nombre_marca}}</td>
                        </ng-container>
                        <ng-container matColumnDef="precio">
                            <th mat-header-cell *matHeaderCellDef>Precio</th>
                            <td mat-cell *matCellDef="let producto">{{producto.precio}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsProductos"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsProductos"></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 mb-3 grafico-dona-pedidos">
                <app-grafico-dona [labels]="labels2" [data]="data2"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>
