<app-header breadcrumbs="Crear Pedido"></app-header>

<div class="workplace">
    <div class="slide-menu">
        <app-menu></app-menu>
    </div>
    <div class="area area-pedido-interno">
        <!-- <router-outlet></router-outlet> -->
        <div class="row">
            <div class="col-md-8">
                <div class="content-gallery">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
                </div>

                <div class="info-pedido-interna">
                    <div class="row">
                        <div class="col-md-8">
                            <h2>{{producto.nombre}}</h2>
                            <p class="marca">{{producto.nombre_marca}}</p>
                        </div>
                        <div class="col-md-4 mt-5">
                            <p class="precio-real">{{producto.total  |currency:'COP':'symbol-narrow' :'1.0-0'}}</p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 3rem; margin-bottom: 3rem;">
                        <div class="col-md-4">
                            <h2 class="title-info">Código</h2>
                            <p class="info">{{producto.codigo}}</p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="title-info">Referencia</h2>
                            <p class="info">{{producto.referencia}}</p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="title-info">Stock</h2>
                            <p class="info">{{producto.stock}} Pares</p>
                        </div>
                    </div>
                </div>

                <div class="detalle">
                    <h2 class="title-detalle">Detalles</h2>
                    <ul class="bullet-rojo">
                        <li>Sistema de amarre de cordones</li>
                        <li>Exterior tejido con refuerzos de TPU</li>
                        <li>Diseño ajustado y elástico</li>
                        <li>Mediasuela receptiva Boost</li>
                        <li>Suela de caucho</li>
                        <li>Tenis urbanos icónicos</li>
                        <li>Color del artículo: Core Black</li>
                    </ul>
                </div>

                <div class="opiniones">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="valoracion-column" style="padding: 30px;">
                                <h3 class="valorar-title">Valorar producto</h3>
                                <ul class="qya-list" *ngIf="preguntas?.length > 0; else preguntaNoExiste">
                                    <li *ngFor="let pregunta of preguntas" style="padding: 5%;">
                                        <span>{{pregunta.pregunta}}</span>
                                        <div class="strellas-valoracion">
                                            <mat-icon [ngClass]="{'star-active' : pregunta.respuesta >= 1, 
                                                'star-inactive' : pregunta.respuesta < 1}" 
                                            (click)="pregunta.respuesta = 1">star</mat-icon>
                                            <mat-icon [ngClass]="{'star-active' : pregunta.respuesta >= 2, 
                                                'star-inactive' : pregunta.respuesta < 2}" 
                                            (click)="pregunta.respuesta = 2">star</mat-icon>
                                            <mat-icon [ngClass]="{'star-active' : pregunta.respuesta >= 3, 
                                                'star-inactive' : pregunta.respuesta < 3}" 
                                            (click)="pregunta.respuesta = 3">star</mat-icon>
                                            <mat-icon [ngClass]="{'star-active' : pregunta.respuesta >= 4, 
                                                'star-inactive' : pregunta.respuesta < 4}" 
                                            (click)="pregunta.respuesta = 4">star</mat-icon>
                                            <mat-icon [ngClass]="{'star-active' : pregunta.respuesta >= 5, 
                                                'star-inactive' : pregunta.respuesta < 5}"  
                                            (click)="pregunta.respuesta = 5">star</mat-icon>
                                        </div>
                                    </li>
                                <div style="display: flex; justify-content: center;">
                                    <button class="calificar" (click)="createCalificacion()" *ngIf="!respuesta_usuario; else califica">
                                        Calificar
                                    </button>
                                    <ng-template #califica>
                                        <button class="calificar disabled" disabled>
                                            Calificar
                                        </button>
                                    </ng-template>
                                </div>
                            </ul>
                            <ng-template #preguntaNoExiste>
                                <div class="col-md-12 text-center no-products">
                                    <div class="sin-notas">
                                        <img src="./assets/img/sin_novedad.png" alt="">
                                        <p>Aún no se registran novedades</p>
                                    </div>
                                </div>
                            </ng-template>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="valoraciones-column">
                                <h3 class="valoraciones-title">Otras valoraciones</h3>
                                <div class="example-table-container" *ngIf="dataSource.data.length > 0; else noOtrasValoraciones">
                                    <table mat-table [dataSource]="dataSource">
                                        <ng-container matColumnDef="valoraciones">
                                            <th *matHeaderCellDef></th>
                                            <td *matCellDef="let valoracion">
                                                <p class="font-weight-bold">{{ valoracion.pregunta }}</p>
                                                 <div class="strellas-valoracion" style="margin-bottom: 3rem;">
                                                    <mat-icon [ngClass]="{'star-active' : valoracion.respuesta >= 1, 
                                                        'star-inactive' : valoracion.respuesta < 1}">star</mat-icon>
                                                    <mat-icon [ngClass]="{'star-active' : valoracion.respuesta >= 2, 
                                                        'star-inactive' : valoracion.respuesta < 2}">star</mat-icon>
                                                    <mat-icon [ngClass]="{'star-active' : valoracion.respuesta >= 3, 
                                                        'star-inactive' : valoracion.respuesta < 3}">star</mat-icon>
                                                    <mat-icon [ngClass]="{'star-active' : valoracion.respuesta >= 4, 
                                                        'star-inactive' : valoracion.respuesta < 4}" >star</mat-icon>
                                                    <mat-icon [ngClass]="{'star-active' : valoracion.respuesta >= 5, 
                                                        'star-inactive' : valoracion.respuesta < 5}">star</mat-icon>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columns"></tr>
                                    </table>
                                </div>
                                <ng-template #noOtrasValoraciones>
                                    <div class="col-md-12 text-center no-products">
                                        <div class="sin-notas">
                                            <img src="./assets/img/sin_novedad.png" alt="">
                                            <p>Aún no se registran novedades</p>
                                        </div>  
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-4" style="padding: 0 .5rem; box-shadow: 2px 2px 2px 3px lightgray;">
                <div class="content-rigth">
                    <div class="aside-interna-pedido mrg-btn-30">
                        <h3 class="nombre" style="padding: 20px 20px; margin-bottom: 0;">Tu pedido</h3>
                        <form>
                            <div class="label-field">
                                <label for="">REFERENCIA</label>
                                <input name="referencia" type="text" [(ngModel)]="producto.referencia" class="">
                            </div>
                            <div class="label-field">
                                <label for="">TIENDAS</label>
                                <div class="input-cantidad" *ngFor="let tienda of tiendas; let i = index">
                                    <p class="title"> <span class="bold">{{tienda.lugar}}</span> L {{tienda.local}}</p>
                                    <a class="remove" type="button" (click)="resCantidad(i)">
                                        <mat-icon aria-hidden="false" class="icon-tienda" aria-label="Camera icon">remove</mat-icon>
                                    </a>
                                    <input name="cantidad{{i}}" disabled type="text" [(ngModel)]="tienda.cantidad" class="cantidad">
                                    <a class="add" type="button" (click)="sumCantidad(i)">
                                        <mat-icon aria-hidden="false" class="icon-tienda" aria-label="Camera icon">add</mat-icon>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Footer actions. -->
                    <div class="acciones acciones-fijo-btns">
                        <a class="agregar btn-agregar" (click)="addProducto()">
                            Agregar
                            <div class="box-mas icono-mas">
                                <mat-icon class="mas" style="font-size: 15px;margin-top: 10%;">add</mat-icon>
                            </div>
                        </a>
                
                        <a class="cancelar" [routerLink]="['/productos',catalogo]">
                            <span class="box-cancelar icono-cancelar">
                                <mat-icon class="mas" style="font-size: 15px;margin-top: 10%;">close</mat-icon>
                            </span> Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>