.overview {
    background: #bfd9ff3d;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
}

.drawer-right h2 {
    font-size: 19px;
    padding: 0px;
}
.box-mas{
    position: absolute;
    top: 25%;
    left: 5%;
}
.box-cancelar{
    position: absolute;
    top: 25%;
    left: 51%;
}
.cancel{
    margin-top: 20%;
    font-size: 15px;
}

.drawer-right {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, .2);
    width: 50%;
    position: fixed;
    right: 0%;
    z-index: 10;
    top: 0;
    background: white;
    height: 100vh;
    transition: all .5s ease;
    transform: translateX(100%);
    z-index: 510;
}

.open {
    transform: translateX(0%);
    overflow: auto;
}

.header-form {
    display: flex;
    color: #323E4A;
    justify-content: space-between;
    background: #F6FBFF;
    padding: 15px 20px;
    letter-spacing: 0.54px;
}

.subtitle {
    padding: 0px 20px;
    color: #323E4A;
    margin-top: 15px;
    margin-bottom: 22px;
    letter-spacing: 0.54px;
}

.label-field {
    padding: 0px 20px;
    margin-bottom: 16px;
}

.label-field label,
.label-field input {
    display: block;
    width: 100%;
}

.label-field label {
    font-size: 14px;
    color: #FF596A;
    margin-bottom: 5px;
}

.label-field input {
    border: 1px solid #D7D7D7;
    border-radius: 6px;
    padding: 10px;
}

.ocultar-scroll{
    overflow: hidden !important;
}
.acciones-form-adminitrador {
    display: inline-flex;
    position: fixed;
    left: 39.9%;
    bottom: 0;
    right: 0;
    padding: 15px 20px;
    justify-content: space-around;
    width: 60%;
    background: #F6FBFF;
    border-left: 1px solid #d7d7d7;
}

.agregar,
.cancelar {
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    display: block;
    text-decoration: none;
    width: 45%;
}

.btn-agregar{
    width: 10.3rem !important;
    right: 0;
    position: relative;
}

.btn-cancelar{
    width: 10.3rem !important;
    position: relative;
    left: 0;
}

@media screen and (max-width:1366px){
    .acciones-form-adminitrador{
        left: 39.8%;
        position: relative;
    }
}

.box-cancelar-cancelar{
    top: 0 !important;
    left: -1px !important;
}

.box-mas-agregar{
    top: 0 !important;
    left: 0 !important;
}



.agregar {
    background: #FF596A;
    /* padding: 6px 0px; */
    color: white;
    transition: all .5s ease;
}

.agregar:hover {
    background: #da4e5c;
}

.cancelar {
    background: white;
    border: 1px solid #FF596A;
    color: #FF596A;
    padding: 6px 0px;
    transition: all .5s ease;
}

.cancelar:hover {
    background: #ec5362;
    color: white;
}

.close-drawer {
    cursor: pointer;
}

.close-drawer:hover {
    transform: scale(1.1);
}

.info-row {
    display: flex;
    width: 100%;
}