<div class="overview" (click)="closeDrawer()"></div>

<div class="drawer-right" [ngClass]="name">
    <div class="header-form">
        <h2>{{title}}</h2>
        <img class="close-drawer" src="./assets/img/cerrar.svg" (click)="closeDrawer()" alt="">
    </div>
    <h3 class="subtitle">{{subtitle}}</h3>
    <div class="info-row">
        <ng-content></ng-content>
    </div>
    <div class="acciones-form-adminitrador">
        <a class="agregar btn-agregar" (click)="submitCreateUser()">
            <span class="box-mas box-mas-agregar">
                <img class="mas" src="./assets/img/mas.svg" alt="">
            </span> {{button}}
        </a>

        <a class="cancelar btn-cancelar" (click)="closeDrawer()">
            <span class="box-cancelar box-cancelar-cancelar">
                <mat-icon class="text-danger cancel">close</mat-icon>
            </span> Cancelar
        </a>
    </div>
</div>